[2019-03-27 16:57] maibin commented on #6594
Thanks!

[2019-03-27 16:57] #6594 closed

[2019-03-27 16:57] maibin commented on #6596
Hey @justStarNew,
Could you please send us an email about that: team@baeldung.com
Thanks!

[2019-03-27 16:57] #6596 closed

[2019-03-28 01:34] justStarNew commented on #6596
ok

[2019-03-28 03:15] Lisa09Liu commented on #6556
Hi @maibin,

This problem occurred in my project with eclipse , I guess that this maybe some eclipse issues, but I have no idea for fixing it. Could you give some suggestions ?

Thanks!

[2019-03-28 08:23] justStarNew opened #6604 "[ERROR] java.lang.NoClassDefFoundError: org/springframework/boot/context/embedded/FilterRegistrationBean"
Hello, I am following this article [spring-cloud-bootstrapping](https://www.baeldung.com/spring-cloud-bootstrapping),when i try to bootstrap discovery module,this error shows up.the following are the error stack trace.
[code]
I googled that FilterRegistrationBean have moved to another place in springboot  1.5.X which happens to be the spring boot version defined in parent-boot-1 as below.
[code]
I

[2019-03-29 20:23] patrick-m-m commented on #6541
I've been wrestling with this quite a bit more and discovered a potential problem. There is a hidden pitfall in the [`@Bean` annotation on the `OpenIdConnectFilter` on in the `SecurityConfig` class](https://github.com/eugenp/tutorials/blob/master/spring-security-openid/src/main/java/org/baeldung/config/SecurityConfig.java#L27). Since the OpenIdConnectFilter extends the GenericFilterBean (via Abstr

[2019-03-30 02:02] eric-martin commented on #6604
@justStarNew Thanks for the info. Can you confirm that if you upgrade to Edgware.SR5 that fixes your issue?

discovery module's pom.xml:
    <properties>
        <spring-cloud-dependencies.version>Edgware.SR5</spring-cloud-dependencies.version>
    </properties>

[2019-04-01 01:33] justStarNew commented on #6604
@eric-martin sorry, it took so long. yes, it helps me to get rid of the problem. Thanks.

[2019-04-01 02:45] eric-martin commented on #6604
Thanks @justStarNew - Repo updated.

https://github.com/eugenp/tutorials/pull/6637

[2019-04-01 02:45] #6604 closed

[2019-04-01 07:14] marrhub commented on #6587
Well as per:
[https://github.com/eugenp/tutorials/tree/master/metrics](url)

it says:

Anyway I'm just trying to run metrics example according to tutorials README instructions
[https://github.com/eugenp/tutorials](url)
regarding single module:

[2019-04-01 23:04] mukul273 opened #6642 "Logback"
This project doesn't run at all. I have exact copy from your project. It doesn't run at all.

Please suggest. I am looking for a project that I can create a custom business object and pass it to logback to be printed on the console as a JSON.

[2019-04-02 08:02] ljacomet opened #6644 "Update Gradle tutorials to no longer use deprecated configurations"
Some Gradle tutorials, at least the fat jar one, still use `compile` configuration.
That configuration has been soft deprecated for a while and really should not longer be used. [Documentation](https://docs.gradle.org/5.3.1/userguide/java_plugin.html#sec:java_plugin_and_dependency_management) indicates what are the recommended replacement, with the [`java-library` plugin](https://docs.gradle.org/5

[2019-04-02 10:26] chetratep opened #6645 "Adding basic auth"
Can you add the example with basicauth ?
it is all fucked up when adding basicauth to solr. Cannot delete, add or query.

[2019-04-03 10:19] vmallik59 commented on #2414
Is it possible to generate target folder with *.pom ?

[2019-04-03 20:07] sirussje opened #6653 "Producing Soap request in spring boot roc style"
Hi Eugen
I am unable to Produce Soap request in spring boot RPC style
Please help me out

[2019-04-03 20:24] vwiencek opened #6654 "Jasypt - do not harcode password in the bean"
Password to encrypt properties should not be hardcoded in the bean but should be passed at runtime

[2019-04-04 02:59] eric-martin commented on #6642
@mukul273 - Can you be more specific. Which article are you referring to? Which application are you trying to run?

[2019-04-06 10:52] getwordsdone commented on #6534
Hey @eyuel4 , could you create a PR with your specific changes for us to take a look?

[2019-04-07 07:33] Devpabilli opened #6678 "Adding an Excel to a java application"

[2019-04-09 12:21] eric-martin commented on #6645
Here are some of our articles on basic auth:
https://www.google.com/search?q=basic+auth+site%3Abaeldung.com

If your question is about solr specifically, I would suggest asking on stackoverflow.

[2019-04-09 12:21] #6645 closed

[2019-04-09 12:25] eric-martin commented on #6653
@sirussje Which module/article do you need help with?

[2019-04-10 10:52] Devpabilli commented on #6678
Thank so Much Sir. I appreciate it

On Tue, Apr 9, 2019, 12:18 PM Eric Martin <notifications@github.com wrote:

[2019-04-11 05:19] sirussje commented on #6653
Transaction  module database integration DAO Layer

Am not able to integrate with hibernate or spring data

On Tue, 9 Apr 2019 at 5:55 PM, Eric Martin <notifications@github.com> wrote:

--
Thanks & Regards
P Srikanth
7997262784

[2019-04-11 05:25] eric-martin commented on #6653
@sirussje Can you please post the following so I can investigate:
1) A link to the module in this repository with the problem
2) How to reproduce the problem (which application are you running)
3) A link to the article that you are referencing

Thanks!

[2019-04-11 05:26] #6642 closed

[2019-04-12 14:14] Doha2012 commented on #6541
Hi @patrick-m-m
**1. About filter ordering:**
In this scenario we are using Spring Security for authorization only and the authentication is done by external system "Google". And as you can see in _OpenIdConnectFilter_ implementation, we extended _AbstractAuthenticationProcessingFilter_ to extract our Authentication object from OAuth response.
Authentication filters come directly after _AbstractPr

[2019-04-16 08:43] zak905 opened #6740 "[Spring batch demo ] Weird method in configuration"
Hello,

This method is not annotated with `@Bean`,  I was wondering what is it used for ?

https://github.com/eugenp/tutorials/blob/master/spring-batch/src/main/java/org/baeldung/batch/SpringConfig.java#L69

[code]

[2019-04-17 01:00] eric-martin commented on #6740
This should help out:
https://docs.spring.io/spring-batch/4.0.x/reference/html/job.html#javaConfig

Notice that the SpringConfig class is annotated with @EnableBatchProcessing

[2019-04-17 01:00] #6740 closed

[2019-04-17 01:01] #6653 closed

[2019-04-17 18:11] sirussje commented on #6653
Sry Eugen

I don’t get time so not replied I will share required information by 19 th
evening

Thanks and regards
P Srikanth
7997262784
India

On Wed, 17 Apr 2019 at 6:32 AM, Eric Martin <notifications@github.com>
wrote:

--
Thanks & Regards
P Srikanth
7997262784

[2019-04-18 08:07] rudygt opened #6752 "spring-boot-mvc-birt wrong start class"
Hi,
the start class in the spring-boot-mvc-birt pom should be
` <start-class>com.baeldung.birt.engine.ReportEngineApplication</start-class>`

great example! btw.

regards.

[2019-04-18 15:47] omonkulov opened #6754 "In the artice "Upcasting narrows the list of methods and properties available to this object, and downcasting can extend it.""
https://www.baeldung.com/java-type-casting.

Doesn't Upcasting extends the list and downcasting narrows the list? I am not too sure though, correct me if I am wrong.

[2019-04-18 18:16] omonkulov commented on #6754
Nevermind.

[2019-04-18 18:16] #6754 closed

[2019-04-18 19:35] tgreiser commented on #6587
Same issue - windows 10, java 9+181

[code]

[2019-04-18 21:08] tgreiser commented on #6587
On further investigation, that error just shows up because neither of these are spring-boot modules (they all have spring-boot name prefix). I can compile successfully using: mvn clean install -Dgib.enabled=false

[2019-04-19 03:04] eric-martin commented on #6752
Thanks! Fixed.

[2019-04-19 03:04] #6752 closed

[2019-04-19 18:49] JLLeitschuh opened #6762 "Kotlin Random Number should discuss Secure Random"
https://www.baeldung.com/kotlin-random-number

This writeup doesn't discuss Secure Random or the impacts of not using a Secure Random number generator when non-predictable randomness is needed.

Related:
https://github.com/Kotlin/KEEP/issues/184

[2019-04-22 21:10] Chekoares75 commented on #247
Thanks a lot! It works for me.

[2019-04-23 02:24] #6541 closed

[2019-04-23 02:27] eric-martin commented on #6587
@marrhub The metrics module isn't a spring boot application.

[2019-04-23 02:27] #6587 closed

[2019-04-23 02:39] #6556 closed

[2019-04-23 03:04] saravanan-kandaswamy opened #6800 "Build failure in Autovalue module"
autovalue module compilation errors.

[INFO] --- maven-compiler-plugin:3.7.0:compile (default-compile) @ autovalue ---
[INFO] Changes detected - recompiling the module!
[INFO] Compiling 16 source files to D:\Works\JEE\eugenp\tutorials\autovalue\target\classes
[INFO] -------------------------------------------------------------
[ERROR] COMPILATION ERROR :
[INFO] ------------------------------------

[2019-04-23 16:01] imambungo opened #6806 "Calculating the N-th Root Correctly"
[code]

the solution above gives correct answers more often than the solution from [the article](https://www.baeldung.com/java-nth-root) below:

[code]
&nbsp;
I just tested both solutions [here](https://gist.github.com/imambungo/f5c372ac2df1bbdd3baf1ba5e5cc9608). It turns out that, for `base` ranged from 2 to 10000 and `n` ranged from 2 to 8, the *Math.log* solution gives 26 correct answers and 11

[2019-04-24 02:33] eric-martin commented on #6800
@saravanan-kandaswamy I'm not able to reproduce your problem. I'm able to build the module locally and our Jenkins instance is also able to build the module.

Can you make sure you are running the latest master branch without any changes.

[2019-04-25 10:39] baibinghere opened #6813 "Almost not possible to load the parent project in IDEA"
There are too many sub-modules, almost impossible to load parent project (Even though the sub-modules are grouped by profile).
Not sure if I'm loading it correctly with IDEA.
Is there anyone facing the same issue with me?

[2019-04-25 11:20] saravanan-kandaswamy commented on #6800
Hi,

I am using Open JDK from Redhat for windows.
openjdk version "1.8.0_201-2-redhat"
OpenJDK Runtime Environment (build 1.8.0_201-2-redhat-b09)
OpenJDK 64-Bit Server VM (build 25.201-b09, mixed mode)

With that its failing, however if i try to use Oracle JDK 8 the build is successful.

Haven't said that there is an issue in the code. The import in IntermediateAssembler.java is wrong
instead of i

[2019-04-25 17:49] eric-martin commented on #6800
Nice catch @saravanan-kandaswamy! Thanks for the PR, it has been merged.

[2019-04-25 17:49] #6800 closed

[2019-04-29 02:42] eric-martin commented on #6813
This repository isn't really meant to be loaded all at once.

Our articles typically just span a single module, Just load the module that you need at the time.

[2019-04-29 02:42] #6813 closed

[2019-04-29 12:07] jnsunkersett opened #6846 "2nd micro service has no UI"
Great tutorial baeldung.
I have the following query, for which I found no straight forward answer -

In section 4.4, we create the Dealer APP () and then "We shouldn’t forget to navigate to gateway-app and tell it to generate the front-end code for the dealer"
1. cd ../gateway-app
2. yo jhipster:entity dealer

I do not require that. In my design the second microservice, will be consumed by the fir

[2019-04-30 00:48] eric-martin commented on #6846
@jnsunkersett Since this isn't a bug in our tutorials repository, I would suggest you post this question to stackoverflow.

[2019-04-30 00:48] #6846 closed

[2019-04-30 12:23] eric-martin commented on #6762
@JLLeitschuh We have logged an internal ticket to update the article. I'll keep this ticket updated with our progress.

[2019-04-30 14:38] JLLeitschuh commented on #6762
Thanks! Given the risks of using an insecure RNG in a security critical location, I recommend highlighting it first.

[2019-05-01 15:52] saravanan-kandaswamy commented on #6471
I have verified the code,  is the issue still valid?

[2019-05-01 19:47] mytechstackrocks opened #6879 "Graph / Vertex.equals() method should use String.equals() instead of =="
https://github.com/eugenp/tutorials/blob/3ca1646e75c488fd5c9aa65ae1ff2f463384c5a5/core-java/src/main/java/com/baeldung/graph/Graph.java#L65

 == is for reference comparison (address comparison) <==not what we need
.equals() method for content comparison <==what we need!

Thanks for sharing this code!

[2019-05-01 19:49] mytechstackrocks commented on #6879
Suggested update:
        return vertex.label.equals(this.label);

[2019-05-02 03:31] eric-martin commented on #6806
@imambungo We have logged an internal ticket to update the article. I'll keep this ticket updated with our progress.

[2019-05-02 13:34] Valexandre opened #6886 "Query spatial data thay is NOT within a geo_polygon ?"
I've been trying to find the right way to get the data in my dataset that is NOT contained within a specific geo_polygon.
What is the good practice here ?

[2019-05-03 04:11] eric-martin commented on #6879
Thanks @mytechstackrocks - I've updated the Vertex class with a generated hashCode and equals method. Thanks!

[2019-05-03 04:11] #6879 closed

[2019-05-05 01:11] eric-martin commented on #6886
@Valexandre Is this a question about this article:
https://www.baeldung.com/elasticsearch-geo-spatial

[2019-05-12 02:20] #6886 closed

[2019-05-16 05:20] eugenp commented on #6654
That is very true. The initial thinking there was to keep things very simple, as this isn't a production project, but a teaching project.
That being said, I agree that should be mentioned in the article - doing that. Thanks for the feedback.

Cheers,
Eugen.

[2019-05-16 05:20] #6654 closed

[2019-05-16 05:21] eugenp commented on #2414
Hey @vmallik59 - that's a great question, but unfortunately beyond the scope of this thread here. StackOverflow might be the better way to go with it.

Cheers,
Eugen.

[2019-05-16 05:21] eugenp commented on #6644
Hey @ljacomet - thanks for the ping here, adding an internal issue to deal with that.
Cheers,
Eugen.

[2019-05-21 15:37] nhooey opened #6996 "Tests in `testing-modules/test-containers` don't actually run"
When running `mvn test verify integration-test` in the `testing-modules/test-containers` directory, the test don't actually run.

This can be verified by adding the following code to this file:
`src/test/java/com/baeldung/testconainers/DockerComposeContainerLiveTest.java`:

In the test class:
[code]

And then add this in the `@Test` function:
[code]

And notice that no exception is thrown when run

[2019-05-23 19:51] lor6 commented on #6244
@Farmbuyer  That's a good point, thanks. I've updated the code.

[2019-05-23 19:51] #6244 closed

[2019-05-24 16:05] #6253 closed

[2019-05-24 16:06] #6471 closed

[2019-05-25 10:08] zimou13 commented on #6762
Before 1.3, on the JVM we use Random or even ThreadLocalRandom if we're on JDK > 1.6.

fun IntRange.random() =
       Random().nextInt((endInclusive + 1) - start) + start
Used like this:

// will return an `Int` between 0 and 10 (incl.)
(0..10).random()

[2019-05-25 10:09] zimou13 commented on #6534
import org.springframework.data.redis.connection.lettuce.LettuceConnectionFactory;
(...)

@Bean
LettuceConnectionFactory lettuceConnectionFactory() {
   LettuceConnectionFactory redisConnectionFactory = new LettuceConnectionFactory();
   redisConnectionFactory.setHostName(hostName);
   redisConnectionFactory.setPort(port);
   return redisConnectionFactory;

[2019-05-31 01:43] eric-martin commented on #6762
@JLLeitschuh We added a new 'Pseudo vs Secure Random Number Generators' section to the article. Thanks for bringing this to our attention.

[2019-05-31 01:43] #6762 closed

[2019-06-03 08:52] lsantaniello opened #7076 "Show ehcache statistics"
Hi,
I need to show the cache statistics, like number of items in cache, size of the cache, etc. I read several posts about this topic but I'm a bit confused. Could you please provide a best practice solution to retrieve and print the statistics?

Thanks

[2019-06-04 03:06] spencerhuang opened #7079 "cf-uaa-oauth2-resource-server deployed but cannot get data"
After setting up resource-client successfully, I am able to get the access_token using password grant_type.

However, when I try to use that token to access a resource server, I'm getting 401 Unauthorized
![Screen Shot 2019-06-03 at 8 05 38 PM](https://user-images.githubusercontent.com/20566499/58848353-19780800-863b-11e9-99b8-235c94e39e2d.png)
with the following issue:
Bearer error="invalid_token

[2019-06-09 10:37] Doha2012 commented on #6534
Hi @eyuel4,
I have upgraded the module to the same versions you mentioned, related [commit](https://github.com/eugenp/tutorials/commit/cf68c5c771fdc3a8d7ec057857ab83749e61f3ee)
Everything is working properly, I think the main issue was that _zuul.sensitiveHeaders_ property need to be set in [auth-client](https://github.com/eugenp/tutorials/blob/master/spring-cloud/spring-cloud-security/auth-client

[2019-06-09 10:37] #6534 closed

[2019-06-11 13:50] june555 opened #7118 "H2 settings"
Hi,
I have DB issue.
My project use Maria DB and spring-cloud-zuul makes some errors.
-- error message : no database selected --
I guess H2 doesn't work because of Maria db settings. ( maybe default conflict? )
( I used @primary  and bean name for Maria DB )
Is there any property options to use H2 in zuul ?

Thank you.

[2019-06-13 03:13] eric-martin commented on #7076
@lsantaniello Given that this isn't a problem with our repo, stackoverflow.com would be a better place for this question.

[2019-06-13 03:13] #7076 closed

[2019-06-13 03:14] eric-martin commented on #7079
@spencerhuang Can you tell me which article you are referring to please?

[2019-06-13 03:17] eric-martin commented on #6996
@nhooey Our *LiveTest classes are not part of our unit test or integration test builds - they typically require extra dependencies that aren't available at build time.

[2019-06-13 03:20] eric-martin commented on #7118
@june555 Is this a question about one of our articles? If so, please share the link,

[2019-06-13 07:41] laolunsi opened #7124 "downlod speed is too slow"
it is like a hard thing to download the big repoisitory。o(╥﹏╥)o

[2019-06-13 13:25] june555 commented on #7118
https://github.com/eugenp/tutorials/tree/master/spring-cloud/spring-cloud-zuul

I just added DB info in application.properties and made DataSourceConfig.java for maria DB
I cannot upload those tested source because of company security policy.
I will upload codes more if making same errors at home.

Thank you.

[2019-06-13 14:28] Prithal opened #7126 "at org.kie.internal.io.ResourceFactory.newClassPathResource(ResourceFactory.java:95) for drools"
at org.kie.internal.io.ResourceFactory.newClassPathResource(ResourceFactory.java:95) for drools

[2019-06-13 14:28] Prithal commented on #7126
ERROR!
java.lang.NullPointerException: null

[2019-06-14 05:16] #6996 closed

[2019-06-14 05:17] #7079 closed

[2019-06-14 05:17] #7124 closed

[2019-06-14 05:18] maibin commented on #7126
Hi @Prithal,
Could you please let us know to which article are you referring to?
Thanks!

[2019-06-14 15:34] june555 commented on #7118
https://github.com/eugenp/tutorials/tree/master/spring-cloud/spring-cloud-zuul

I just added DB info in application.properties and made DataSourceConfig.java for maria DB
I cannot upload those tested source because of company security policy.
I will upload codes more if making same errors at home.

Thank you.

[2019-06-19 03:41] haider-ali opened #7143 "Server sent event with spring security"
I was looking to use server sent event with spring security in order to push notification to specific user , is it possible to do this if yes is there any sample available in this repo

[2019-06-19 07:22] rameelrahman opened #7144 "Secure Websocket"
Reactive Websocket is working fine. I would like to make a Secure Websocket connection(wss://) to an existing Wwebsocket Server. Is it possible with the code provided.

[2019-06-19 12:26] #6644 closed

[2019-06-19 12:31] maibin commented on #7118
@june555 first of all, the question is, why are you using mappers from mybatis in DataSourceConfig?

[2019-06-19 12:31] #7126 closed

[2019-06-19 12:32] maibin commented on #7143
@haider-ali please refer to:
https://www.baeldung.com/spring-server-sent-events
https://www.baeldung.com/java-ee-jax-rs-sse
https://www.baeldung.com/spring-mvc-sse-streams

[2019-06-19 12:32] #7143 closed

[2019-06-19 12:33] maibin commented on #7144
@rameelrahman could you please let us know to which article you are referring to?

[2019-06-19 13:38] june555 commented on #7118
Mappers ( maria db ) are used for the other business.

[2019-06-20 08:52] rameelrahman commented on #7144
@maibin Sorry, I forgot to mention that. I was referring to the samples code given in this path: tutorials/spring-5-reactive/src/main/java/com/baeldung/websocket/

[2019-06-20 09:25] haider-ali commented on #7143
Thanks for sharing the links  they are all example of broadcasting to all users i was looking for an example of integrating the spring-security with SSE to broadcast to single user but couldn't find one

[2019-06-20 09:30] huahuayu opened #7149 "[query]idea can't run example - drools，but eclipse dose"
hi, I git clone the project, and open drools example in `idea`, I used below command
[code]

but I got `Cannot resolve symbol 'kie'` error, can you please tell me how to deal with it? I have done google search and try the [stackoverflow solution](https://stackoverflow.com/questions/5905896/intellij-inspection-gives-cannot-resolve-symbol-but-still-compiles-code) but without lucky

![](https://raw.g

[2019-06-24 13:37] kamilgregorczyk opened #7184 "null -> Optional conversion with Jackson and Jdk8Module"
Hi everyone, I wanted to comment under the article but it seems to be impossible. I'm trying to find a way how a not provided value could be converted to empty Optional with Jackson.

The article: `https://www.baeldung.com/jackson-ignore-null-fields`

There is a test case which verifies if null is properly converted to Optional.empty which is great:
https://github.com/eugenp/tutorials/blob/ca56051

[2019-06-25 11:30] Paul-00910 opened #7188 "Cant run (/import) examples in Intellij-IDEA"
How to run any (submodule) example in IDEA? I have been trying everything but still cant make anything works (e.g. spring-mvc-simple-2); using "mvn clean install" and "mvn spring-boot:run" works. In IDEA I can clean and install but no run -> cannot resolve symbol @SpringBootApplication

Also posted on stackoverflow to no avail https://stackoverflow.com/questions/56749071/idea-import-of-maven-githu

[2019-06-25 13:06] dsaro commented on #247
Hi guys!
thanks a lot!

-vm
C:\Java\jdk1.8.0_60\bin\javaw.exe

it helped me to fix it
 for setting of my spring roo project in STS (needed for some Comp. work)

I added above two lines as first lines into sts.ini and of course to point to my Java installation path!
Also checked if jdk or jre is set in my IDE as default,
and also that project's pom.xml points to right java version (for me java 1.8)

[2019-06-26 01:37] eric-martin commented on #7184
@kamilgregorczyk
https://www.baeldung.com/jackson-optional

[2019-06-26 06:03] andreakappa opened #7195 "spring security cognito logout"
I've tried your example with my cognito data, login is working ok but logout it seems to not work.
After logging out, if I reopen the home url from the same browser tab I'm logged in again.

[2019-06-26 11:22] Paul-00910 commented on #7188
Found the issue: apparently [git 3.8+ breaks Idea](https://github.com/vackosar/gitflow-incremental-builder/issues/91)

[2019-06-26 11:59] keltik85 opened #7197 "[spring-kafka] Connection to node -1 could not be established. Broker may not be available."
I changed the `kafka.bootstrapAddress` in the file `application.properties` to:
[code]
On that remote address `ubuntu-kafka-vm:9092` I have a kafka installation running.

Unfortunately, when running the `KafkaApplication` in this tutorial I get the following warnings:

[code]
I do not get the messages that are described on the [README.md](https://github.com/eugenp/tutorials/tree/master/spring-kafk

[2019-06-28 08:57] kamilgregorczyk commented on #7184
I found a way how it can be done:
[code]

Jackson does not fill fields that were not provided hence the default value in class, with it when it's not provided or when it's null it will be empty optional. It would be good to update the art.

[2019-06-29 01:26] #7184 closed

[2019-06-29 12:22] maibin commented on #7118
@june555 this sounds more like a consulting new code issue rather than an issue with our code. For such cases, please send an email to team@baeldung.com with the description of your case.
Cheers!

[2019-06-29 12:22] #7118 closed

[2019-06-29 12:26] maibin commented on #7149
@huahuayu please try this:
1) Right click on the code editor
2) Hover on Maven and expand
3) Click on Reimport
That should help

[2019-06-29 12:26] #7188 closed

[2019-06-29 12:27] maibin commented on #7195
@andreakappa could you please let us know to which article you are referring to?

[2019-06-29 12:28] maibin commented on #7197
@keltik85 could you please let us know to which article you are referring to?

[2019-07-01 01:13] huahuayu commented on #7149
@maibin thank you, I tried just now, there is no effect.

[2019-07-01 07:08] keltik85 commented on #7197
It is the article you can read in the heading portion of this issue [spring-kafka] and the webpage is https://www.baeldung.com/spring-kafka .

[2019-07-01 20:32] mzhKU opened #7231 "[CommandPattern] Lambda Expression will not work"
The part here would not work:

[code]
I can issue a PR if that would help..

[2019-07-03 09:33] darmandovargas opened #7241 "mvn cargo:run does not work into this folder tutorials/persistence-modules/spring-hibernate4"
Hi Eugenp

I have to implement a migration from hibernate and spring 3 to 4, I'm trying to based on this application but once I run it as you mentioned on the readme, by doing mvn install and then mvn cargo:run it does not work, I already changed configuration files in order to have my username and password, it installs well but it does not run, I got this after that command, FYI I'm in mac:

[cod

[2019-07-03 09:43] darmandovargas commented on #7241
FYI: I am using Spring Tool Suite 4 which is based in Eclipse.

[2019-07-03 21:22] anderskristian opened #7245 "current version does NOT build"
I cannot make maven build the system
It is extreme complex
Several modules does not exist
There is duplicate dependencies

I would suggest a 100% strategy change, let maven modules be small independent modules with a netto number of dependencies
NO profiles

And a shell script to call all maven builds -

I'm a little shocked that this is a tutorial

[2019-07-08 13:59] belgoros opened #7272 "Fails to start the application: jobLauncher could not be registered"
The provided implementation raises the error:
[code]

[2019-07-09 09:42] mkubik opened #7279 "spring-cucumber integration tests not working"
`mvn clean install -Pintegration` reveals:

`[WARNING] The requested profile "integration" could not be activated because it does not exist.`

 No tests are run.
Environment: MAcOS, Java12. Anything else needed?

[2019-07-11 15:09] huahuayu commented on #7149
@eugenp please check `tutorials/drools` can't be run in intellij(but do ok in STS), my colleague and I tried and failed.

[2019-07-15 03:34] GongFuBoy commented on #7149
there is same appearance in my IDEA,
my settings:
IDEA version: 2018.3
JDK version: 1.8
maven version: 3.3.9
system: window 10

[2019-07-15 15:06] carlolf commented on #7245
The same problem I do have. I'm a Gradle user and have problems for compile, because the 'build.gradle' is very incomplete. I have to say, I'm working on Kotlin 1.3.41.
I had to include these dependencies:`compile "org.jetbrains.kotlin:kotlin-stdlib:$kotlin_version"
	compile "org.jetbrains.kotlin:kotlin-reflect:$kotlin_version"
	compile 'com.github.kittinunf.fuel:fuel:2.1.0'
	compile 'com.google.c

[2019-07-17 02:29] Janche opened #7332 "How does the client get user information through userInfoUri"

[2019-07-17 20:19] lor6 commented on #7245
Hi @anderskristian Yes, there are a lot of projects in the repo, so it's much easier to run the specific project you're interested in rather than the full repository.

After you clone the repo, you can move to the directory of a specific module, and run the Maven command in that location.

Having a single main POM file helps with keeping the common configuration/dependencies in a single place. Oth

[2019-07-17 20:23] lor6 commented on #7272
Hi @belgoros Which application are you running? Does this refer to the spring-batch project?

[2019-07-17 20:26] lor6 commented on #7279
Hi @mkubik  Please try the command listed in the main project README:
mvn clean install -Pintegration-lite-first

[2019-07-18 07:05] belgoros commented on #7272
@lor6 It is [spring-batch](https://github.com/eugenp/tutorials/tree/master/spring-batch). Maybe, in the meanwhile, spring-batch updated the version you used. If youdeclare `jobLauncher` bean as you did:
[code]
it raises the error:
[code]
To make it work, I had to use  `name` option when declaring `jobLauncher` bean as follows:
[code]
The same is to aply to `jobRepository()`  bean as well.

I'm usi

[2019-07-18 10:05] lor6 commented on #7272
Thanks @belgoros Will look into it.

[2019-07-18 10:06] lor6 commented on #7332
Hi @Janche Please use English for the question and also clarify which project you're trying to run.
Thanks.

[2019-07-18 10:11] #7332 closed

[2019-07-18 18:34] anderskristian commented on #7245
Thanks for the answer
I just wondered ..
Consider you want to teach various maven concepts or  Gradle .. it might also be a problem with one big build ..
Thanks again ...
/Anders

[2019-07-19 03:48] eugenp commented on #5838
Jumping in here with an update, as it's been quite a while.
Unfortunately, we can't reproduce it (the team tried to do that on several platforms). So, it either got fixed in the meantime, which is the one advantage of being late :) - or it wasn't there.
Hope that helps, @tvdinh

Closing this one.
Cheers,
Eugen.

[2019-07-19 03:48] #5838 closed

[2019-07-19 21:27] hudeany opened #7361 "Unzip.java is missing empty folders contained in zipfile"
I found your unzip example very useful, especially with your path traversal/breakout check.
But all empty folders included in a zipfile are skiped by your unzipping method.
Maybe you could use something like this:
while (zipEntry != null) {
				if (zipEntry.getName().endsWith("/")) {
					final File newDirectory = new File(destinationDirectory, zipEntry.getName());
					final String newDirectoryPa

[2019-07-20 18:12] lor6 commented on #7272
Hi @belgoros The spring-batch project in the repository is working ok, as it's not using Spring Boot.
The issue you're seeing is because in Spring Boot 2.1. bean overriding has been disabled by default: https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.1-Release-Notes

If you want to change this, you can set the property:
_spring.main.allow-bean-definition-overriding=true_
in appli

[2019-07-20 18:12] #7272 closed

[2019-07-20 19:52] lor6 commented on #7231
Hi @mzhKU  We added that code in a unit test here and it's working ok: https://github.com/eugenp/tutorials/blob/master/patterns/design-patterns/src/test/java/com/baeldung/command/test/TextFileOperationExecutorUnitTest.java#L72

Can you clarify what you meant?
Thanks.

[2019-07-21 04:35] Gurminder08 opened #7370 "Unknown host exception:"
Tutorial : https://www.baeldung.com/spring-boot-minikube

I was trying to work out the tutorial provided in the link above, but it throws the following UnknownHostException:

I/O error on GET request for "http://demo-backend:8080": demo-backend; nested exception is java.net.UnknownHostException: demo-backend

Any help will be appreciated.

[2019-07-21 15:42] eric-martin commented on #7370
@Gurminder08: You won't be able to access the web server using http://demo-backend. Take a look at the article again - you will need to use the IP address.

[2019-07-21 15:45] #7195 closed

[2019-07-21 15:52] Gurminder08 commented on #7370
Hi, thanks for the reply, I did exactly that but it doesn't work.

If you look at the code of demo-frontend from the following link:

[KubernetestFrontEndApplication](https://github.com/eugenp/tutorials/blob/master/spring-cloud/spring-cloud-kubernetes/demo-frontend/src/main/java/com/baeldung/spring/cloud/kubernetes/frontend/KubernetesFrontendApplication.java)

It makes a Rest api call to demo-back

[2019-07-21 18:47] dfparker2002 opened #7380 "Question: use alternative ParameterMessageInterpolator method"
JSR-380 article mentions a way to avoid including some jars by using ParameterMessageInterpolator  method. May we see an tutorial about this project variation.

[2019-07-23 11:32] maibin commented on #7144
You'll need to modify the code in order to make Secure Websockets. Spring Security might help in this case. @rameelrahman hope this helps:
https://www.baeldung.com/spring-security-websockets

[2019-07-23 11:37] #7231 closed

[2019-07-23 11:38] maibin commented on #7241
Hey @darmandovargas,
That's an interesting question, and also quite a code-heavy one - so the comments here are probably not the best place for it.
My suggestion is - do a quick writeup of it on StackOverflow and follow up with the link over email - and we'd be happy to have a look.

[2019-07-23 11:38] #7241 closed

[2019-07-23 11:39] #7245 closed

[2019-07-23 11:39] #7279 closed

[2019-07-23 11:40] maibin commented on #7361
Hey @hudeany,
With these kinds of code-heavy questions, let's talk about them over email - just to keep the comments here readable.
So, feel free to reach out with your feedback over email.

[2019-07-23 11:40] #7361 closed

[2019-07-23 11:42] maibin commented on #7380
Thanks for the feedback - we'll add this to our internal topics queue.

[2019-07-23 11:42] #7380 closed

[2019-07-23 12:10] rameelrahman commented on #7144
Yes, I understood, but I guess that's on the server side. I'm looking to make a secure call from the client using "wss://..." with all the credentials needed. My query is, how can we make a secure websocket call to the server.

[2019-07-24 07:44] ShanChathusanda93 opened #7407 "NullPointerException from createWithBasicHttpAuthentication(AsynchronousJiraRestClientFactory.java:42) Java"
Hi,
I am using java-jira maven dependencies as this example to get some details from the jira tickets. But when creating a JiraRestClient from createWithBasicHttpAuthentication() method, it prompts a NullPointerException. But at the end the details are displayed. My problem is the beginning NullPointerException. Is there anyone who can help with this issue?

[2019-07-24 16:04] darmandovargas commented on #7241
Really ? all these days and status changed to "in progress" just to clean your hands saying that go to StackOverflow ? when is your code that is not running with your own indications ? OMG I can´t believe this, let it, I will look for a working example on the internet, thanks for nothing !

[2019-07-25 02:39] eric-martin commented on #7407
@ShanChathusanda93 Can you let me know what article and module you are looking at?

[2019-07-25 02:42] eric-martin commented on #7370
Ok. We will investigate.

[2019-07-25 05:04] ShanChathusanda93 commented on #7407
@eric-martin This is the article that I have referred.
https://www.baeldung.com/jira-rest-api

[2019-07-25 17:10] eric-martin commented on #7407
Can you give me some more details about the exception?
Is your URI, username and password all non-null?

[2019-07-26 04:17] ShanChathusanda93 commented on #7407
Yes, they are all not-null.

[2019-07-26 09:35] carlolf opened #7420 "Class PostRoutingApi.kt does not compile"
I am just a Kotlin beginner and try to learn with your examples. I have started with project core-kotlin, and after fixing missing gradle dependencies(see issues/7245), I get these compile errors in class PostRoutingAPI:

`e: /home/carlo/develop/baeldung/tutorials/core-kotlin/src/main/kotlin/com/baeldung/fuel/PostRoutingAPI.kt: (10, 5): Class 'posts' is not abstract and does not implement abstract

[2019-07-26 15:07] eric-martin commented on #7407
Can you post the exception message and full stack trace?

[2019-07-26 21:28] eric-martin commented on #7370
@Gurminder08 I have logged an internal ticket for investigation. I will update this issue as we make progress.

[2019-07-27 12:00] antje-78 opened #7424 "spring-5-security-oauth: redirect to loginFailure after login with facebook"
I used the project from _spring-5-security-oauth_ and i have changed the properties of facebook-provider in the file _application-oauth2.properties_ to my facebook account. It seems that the login is ok, but it redirects to the page _loginFailure_.

In the log i see following error:
`15:40:51.508 [https-jsse-nio-8443-exec-4] DEBUG o.s.s.o.c.w.OAuth2LoginAuthenticationFilter - Authentication reques

[2019-07-28 07:30] lor6 commented on #7241
Hi @darmandovargas  I added the cargo configuration in the module, but also note that the module is focused on the persistence layer, and doesn't include a web layer.
Cheers.

[2019-07-29 08:48] eugenp commented on #7241
Hey @darmandovargas - I just wanted to jump in here with an apology for the way we handled this issue. I'll make sure you get a full refund, of course.
@lor6 tried to go above and beyond here, and help, but, to be clear - cargo wasn't even supported in that module. You're trying to run cargo there - why - I'm not sure, but, as the error message says: "No plugin found for prefix 'cargo' in the curr

[2019-07-29 12:33] knutwannheden opened #7444 "Use SQLDialect#thirdParty()"
In the example code shown below the `dialect.name()` expression should be replaced with `dialect.thirdParty().springDbName()`.

https://github.com/eugenp/tutorials/blob/5aecdeb0211c9dc44e3e5138d4a30bf837d19204/spring-jooq/src/test/java/com/baeldung/jooq/introduction/ExceptionTranslator.java#L15

See also https://github.com/jOOQ/jOOQ/blob/master/jOOQ-examples/jOOQ-spring-example/src/main/java/org/j

[2019-07-29 19:30] maibin commented on #7149
@huahuayu @GongFuBoy we run some tests, and this is IDEA related bug. To fix it, please upgrade to the latest version 2019.2, and everything should work perfectly fine.

[2019-07-29 19:30] #7149 closed

[2019-07-30 12:47] ajordaan opened #7452 "Olingo Tutorial Error: Jersey Config No default constructor found"
Trying to follow the olingo tutorial (https://www.baeldung.com/olingo) but getting an error in the JerseyConfig.java class:

  Failed to instantiate [org.baeldung.examples.olingo2.JerseyConfig]: No default constructor found; nested exception is java.lang.NoSuchMethodException: org.baeldung.examples.olingo2.JerseyConfig.<init>()

 If I add a default constructor then the project builds successfully

[2019-07-31 18:05] deepashreemohan opened #7459 "How do I connect using google authentication to Jira? via google login to atlassin"
Username/Pwd mode is no more valid and jira directly connects via atlassin.

Thanks

[2019-08-05 12:15] thomasturrell opened #7511 "UnzipFile cannot unzip files created by Windows"
**Steps to reproduce**
1. Create a folder 'a'
2. Create a subfolder within 'a' called 'b'
3. Create a file called 'readme.txt' in subfolder 'b'
4. Right click on folder 'a' and [send to a compressed folder](https://support.microsoft.com/en-us/help/14200/windows-compress-uncompress-zip-files)
5. Attempt to unzip the zip file you have just created using unzip.java

**Expected behaviour**
The file a/

[2019-08-05 20:46] JLLeitschuh opened #7517 "[Security] Spring Maven Repository Guide Suggests HTTP instead of HTTPS"
Your guides recommend that users resolve dependencies over HTTP instead of HTTPS. This is a security vulnerability that exposes users to a MITM attack.

For more information, see my public disclosure of this industry wide vulnerability:

[![mitm_build](https://user-images.githubusercontent.com/1323708/59226671-90645200-8ba1-11e9-8ab3-39292bef99e9.jpeg)](https://medium.com/@jonathan.leitschuh/want-

[2019-08-06 01:35] winnerawan opened #7520 "cas sso"
#### i get this exception when using command : ./mwnw tomcat:run
[code]

### and this exception when using command ./build.sh run
[code]

[2019-08-06 03:12] vikasramireddy commented on #7197
Kafka is not started in your machine. Please go through https://kafka.apache.org/quickstart

[2019-08-06 05:51] maibin commented on #7144
@rameelrahman depends on which language your client is written. Usually, the easiest way is to use js. We do have a post about creating a client in JS:
https://www.baeldung.com/rest-vs-websockets (5.1.)
but also this might help:
https://stackoverflow.com/questions/54063255/simple-secure-websocket-wss-chat-using-node-js-server-and-jquery-client

[2019-08-06 05:55] maibin commented on #7197
@keltik85 @vikasramireddy we logged an internal ticket to fix this issue. I'll follow up once it is resolved. Thanks!

[2019-08-06 06:01] maibin commented on #7420
@carlolf could you please let us know to which article you are referring to?

[2019-08-06 06:01] maibin commented on #7424
@antje-78 could you please let us know to which article you are referring to?

[2019-08-06 06:05] maibin commented on #7459
@deepashreemohan could you please let us know to which article you are referring to? Thanks!

[2019-08-06 06:07] maibin commented on #7511
@thomasturrell thanks for detailed information. Could you also please let us know to which article you are referring to?

[2019-08-06 06:10] maibin commented on #7517
@JLLeitschuh thanks for the information and your post. We logged in an internal ticket and we'll deal with it soon.

[2019-08-06 06:10] #7517 closed

[2019-08-06 06:10] maibin commented on #7520
@winnerawan could you please let us know to which article you're referring to?
Thanks!

[2019-08-06 06:26] rameelrahman commented on #7144
@maibin thanks for sharing the link.
I'm using Java at the Client side. Server side is a third party wss service written in Spring.
So I'm looking to make a secure wss connection to the server from the Java client. By Java client I meant, the client to the third party wss service, but it actually resides in my server. So it will be a server-to-server communication, both in Java.

[2019-08-06 07:07] winnerawan commented on #7520
@maibin here [https://www.baeldung.com/spring-security-cas-sso](https://www.baeldung.com/spring-security-cas-sso)
i use code from repo,

 i would like to know about the note , is that mean client and server must be 1 database ? how about client have their own db?

[2019-08-06 09:39] thomasturrell commented on #7511
I am referring to the the [UnzipFile](https://github.com/eugenp/tutorials/blob/master/core-java-modules/core-java-io/src/main/java/com/baeldung/unzip/UnzipFile.java) class in the [Zipping and Unzipping in Java tutorial](https://www.baeldung.com/java-compress-and-uncompress).

[2019-08-06 10:04] carlolf commented on #7420
Sorry, I do not refer to an article at Baeldung's website. Of course, I read some of them on Kotlin themes. And then wanted to try some code. So I pulled the whole huge tutorial code from and tried to test module "core-kotlin". First things I discovered were missing dependencies in build.gradle. I could resolve them. But class 'PostRoutingAPI' gave compile errors as reported.

[2019-08-06 12:43] psevestre commented on #7452
Hi, @ajordaan

Can you share a little bit more about your test environment ?

JerseyConfig is a sprint @Component, so it should use its constructor as-is **in a Spring app** . Please note that this particular class is supposed to be used in the context of a springboot app. It seems it's been picked by Jersey directly, which indeer requires a no-arg constructor.

If you want to go ahead and use it

[2019-08-07 16:03] sankintoo opened #7529 "logback-classic"
Hi,
I get following error, could you please give some insight what is causing this problem.

[main] DEBUG org.mockserver.logging.MockServerLogger - exception while initialising log file please include ch.qos.logback:logback-classic dependency to enable log file support
java.lang.NoSuchMethodException: no such method: ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP.setMaxFileSize(String)void/invo

[2019-08-08 02:16] wuyongdec opened #7534 "can't build this version"
some errors in the pom.xml files.

[2019-08-08 06:16] wuyongdec commented on #7534
I change to eclipse sts,  that environment builds successfully.
something may be wrong with my idea environment.

[2019-08-08 06:16] #7534 closed

[2019-08-10 18:54] hudeany commented on #7511
I have a  solution to this Problem: see attached ZipUtilities.java
It creates the not-in-zip-file-included empty path directories as well as it keeps an eye on the zip-decrompress path-traversal problem in the unzip-destination path, which would allow to decompress files from tampered zip files into your local system directories etc.. (e.g. using ../../../../file.name in zip entries path)
[ZipUtil

[2019-08-12 00:02] #7407 closed

[2019-08-13 10:46] maibin commented on #7420
@carlolf our modules uses Maven as a primary dependency management framework. Gradle dependencies are added as optional in some article. Could you please check if it will work for you when built with Maven?
Thanks!

[2019-08-13 10:47] #7424 closed

[2019-08-13 10:48] #7459 closed

[2019-08-13 10:51] maibin commented on #7511
@thomasturrell we logged an internal ticket to investigate. I'll follow up in here once we'll get this resolved.

[2019-08-13 10:53] maibin commented on #7529
Hi @sankintoo, could you please let us know to which article are you referring to?
Thanks!

[2019-08-14 16:55] jessewriter opened #7577 "@Bean dissallowed on ToDoList"
Please update your document in https://www.baeldung.com/spring-mvc-session-attributes @Bean is dissallowed in spring boot 2 at the ToDoList location

[2019-08-15 13:36] carlolf commented on #7420
Well, this is not a matter of using Gradle or using Maven. The error is an error reported by Kotlin compiler. It says, class PostRoutingAPI is not abstract but has undefined methods from the inherited interface. PostRoutingAPI, as it is on Github, has these inner classes:
`class posts(val id: String, override val body: String?): PostRoutingAPI()
 class comments(val postId: String, override val bod

[2019-08-15 13:38] carlolf commented on #7420
Please note also: your inner classes are named 'posts' and 'comments'. This should be by convention: 'Posts' and 'Comments'.

[2019-08-15 13:43] carlolf commented on #7420
Your module is provided with a Gradle build file. So I used this; and of course my IDE IntelliJ also uses it.
To make it useable for Gradle, I declared these dependencies:
`dependencies {
	compile "org.jetbrains.kotlin:kotlin-stdlib:$kotlin_version"
	compile "org.jetbrains.kotlin:kotlin-reflect:$kotlin_version"
	compile 'com.github.kittinunf.fuel:fuel:2.1.0'
	compile 'com.google.code.gson:gson:2.8

[2019-08-17 10:50] tonny1983 opened #7598 "UUIDGenerator has wrong length check for UUID type5"
The `type5UUIDFromBytes` method uses SHA-1 to hash information which means the result should be 20 bytes. However, the `constructType5UUID` method it called checks whether the length of the byte array to be equal to 16 which should be the result when using MD5.

[2019-08-19 08:40] pgleska opened #7613 "Import in DockerComposeContainer is not up-to-date"
When runnig DockerComposeContainerLiveTest.java there occurs an error: java.lang.NoClassDefFoundError: com/github/dockerjava/api/DockerException caused by: java.lang.ClassNotFoundException: com.github.dockerjava.api.DockerException because current source is: com.github.dockerjava.api.**exception**.DockerException

[2019-08-20 13:37] JanuszHain opened #7618 "Kotlin Builder Pattern - make class FoodOrder's constructor private"
https://www.baeldung.com/kotlin-builder-pattern

`class FoodOrder private constructor(` is prefferable to don't allow creating object without using `Builder`

[2019-08-22 13:30] brampat opened #7623 "Dependencies contain several vulnerabilities"
This concerns at least the JSF tutorial:

Dependencies contain several vulnerabilities
spring-aop-4.3.4.RELEASE.jar: CRITICAL
jstl-1.2.jar: HIGH
primefaces-6.2.jar: MEDIUM
spring-core-4.3.4.RELEASE.jar: CRITICAL
logback-core-1.1.7.jar: CRITICAL
jsf-impl-2.2.14.jar: HIGH
primefaces-6.2.jar: jquery.js: MEDIUM

[2019-08-22 22:08] akostadinov opened #7627 "newer method to get gredentials for GoogleAuthorizeUtil"
About https://www.baeldung.com/google-sheets-java-client

Seems like Google is promoting the `google-auth-library-oauth2-http` project for getting credentials. I see in `libraries-data-2/src/main/java/com/baeldung/google/sheets/GoogleAuthorizeUtil.java` another method is used.

You may consider updating to `google-auth-library-oauth2-http` approach. I have used like this:

[code]

[2019-08-22 22:10] akostadinov commented on #7627
hmm, actually you want a browser to get user permissions. I guess just different use case. Ignore.

[2019-08-22 22:10] #7627 closed

[2019-08-23 06:27] brampat commented on #7623
I can fix some, but not all. Please see these remarks:

- Primefaces has upgraded jquery to 3.4.1 but this hasnt been released. The latest available release-version for Primefaces is 7.0, while 7.0.6 is available via the Primefaces store. Also, Primefaces Mobile was deprecated in 6.2 and removed from 7.0.
- JSF Faces impl up to 2.2.20 is available via Maven Central. That version doesn't fix the is

[2019-08-23 06:35] brampat commented on #7623
[dependency-check-report_fix.txt](https://github.com/eugenp/tutorials/files/3533118/dependency-check-report_fix.txt)
[dependency-check-report_org.txt](https://github.com/eugenp/tutorials/files/3533119/dependency-check-report_org.txt)

[2019-08-23 16:50] shubhamkumbhalkar opened #7634 "File Name and type defination"
I am trying to send the file from server to the client which gets generated  in the server on request and it does not have any particular extension but user defined or customized. I want to send the file with the name but, instead it is just sending file with the name of request mapping. If you have any insights, it would be great!

[2019-08-23 17:33] ryannedolan opened #7635 "volatile example is incorrect"
In Guide to Volatile Keyword, it is implied that SharedObject is racy if volatile keyword is not used, but that adding volatile fixes the race condition. In fact, the volatile keyword does not prevent any race conditions related to incrementing the counter.

Volatile in the example _does_ prevent two threads from disagreeing about what the current count is, if they simply getCount() at the same ti

[2019-08-23 18:46] userquin opened #7637 "spring-kotlin-boot module: add create table"
[code]

[2019-08-31 11:12] enexusde opened #7690 "Optimistic Locking - Column "version" is reserved keyword."
The column Version is a reserved keyword in PostgreSQL.
A different name should be used.

Fortunately the name is not reserved in SQL2003 in general.

Test this by open a JDBC connection and call:

[2019-09-02 23:38] maibin commented on #7420
Thanks for letting us know - we'll update the configuration. Do you need any additional help in here?

[2019-09-02 23:38] #7452 closed

[2019-09-02 23:39] #7529 closed

[2019-09-05 18:45] eric-martin commented on #7577
@jessewriter Are you referring to this configuration class snippet?

@Bean
@Scope(
  value = WebApplicationContext.SCOPE_SESSION,
  proxyMode = ScopedProxyMode.TARGET_CLASS)
public TodoList todos() {
    return new TodoList();
}

[2019-09-05 19:56] eric-martin commented on #7634
Since this isn't a problem with our repo, this question is best suited for stackoverflow.com

[2019-09-05 19:56] #7634 closed

[2019-09-05 20:04] maibin commented on #7520
@winnerawan we logged an internal ticket to investigate the issue. Most likely, the dependencies are out of date. We'll follow up here with updates.

[2019-09-05 20:05] maibin commented on #7613
@pgleska could you please let us know to which article are you referring to?
Thanks!

[2019-09-05 20:08] maibin commented on #7618
Thanks for letting us know - we'll logged an internal issue and we'll update the code soon.

[2019-09-05 20:08] #7618 closed

[2019-09-05 20:44] #7598 closed

[2019-09-05 20:45] eric-martin commented on #7598
Thanks @tonny1983

[2019-09-05 23:57] eric-martin commented on #7637
@userquin Can you tell me what article you are referring to?

[2019-09-05 23:58] eric-martin commented on #7690
@enexusde Can you tell me what article you are referring to?

[2019-09-06 09:58] enexusde commented on #7690
https://github.com/eugenp/tutorials/search?q=%22long+version%3B%22&unscoped_q=%22long+version%3B%22

[2019-09-06 14:56] fborriello opened #7735 "BULL Mapper integration"
With reference to the issue [#6444](https://github.com/eugenp/tutorials/issues/6444).

As BULL library is growing and articles on that library have been published on:
 - [DZone](https://dzone.com/articles/how-to-transform-any-type-of-java-bean-with-one-li)
 - [InfoQ EN](https://www.infoq.com/articles/expedia-rid-of-bean-transformers/)
 - [InfoQ PT-BR](https://www.infoq.com/br/articles/expedia-rid-

[2019-09-06 15:34] kcacademic commented on #7144
@rameelrahman, Secure WebSocket works on top of TLS similar to HTTPS. From a client, in any language like Java or JS if you happen to use secure URL (starting with wss) it should automatically work given the WS Server is set-up for TLS. It may require client authentication as well but that is a non-typical case. Can you please let us know the error you are getting? Also, since I assume you have no

[2019-09-07 02:51] eric-martin commented on #7690
@enexusde Out article and code example are using H2, so there isn't an issue.

I can't find any references to 'version' being a reserved word in PostgreSQL though.

This lists it as 'non-reserved':
https://www.postgresql.org/docs/9.6/sql-keywords-appendix.html

Same with this:
https://www.petefreitag.com/tools/sql_reserved_words_checker/?word=version

[2019-09-07 03:28] jessewriter commented on #7577
Sorry I don't remember now, maybe I was confused between the controller and the config file where it was supposed to go...

[2019-09-07 03:28] #7577 closed

[2019-09-07 07:08] enexusde commented on #7690
https://github.com/pgjdbc/pgjdbc/issues/1564

[2019-09-07 07:08] #7690 closed

[2019-09-07 07:10] enexusde commented on #7690
Thank you for your attention.

[2019-09-12 07:50] enexusde commented on #7690
By the way, postgres sais it is a keyword but it is not reserved.

[2019-09-15 12:09] harugerv commented on #6587
i am also facing same issue

[2019-09-16 06:29] p1729 opened #7806 "is volatile keyword needed in even-odd wait notify example"
I was going through your tutorial on https://www.baeldung.com/java-even-odd-numbers-with-2-threads section 5.1, is the volatile keyword necessary ? as the flag has been checked in the same instance
https://github.com/eugenp/tutorials/blob/9f2f00e1b624b7eab3c0ce1778404aa217ff6005/core-java-modules/core-java-concurrency-advanced/src/main/java/com/baeldung/concurrent/evenandodd/PrintEvenOddWaitNotify

[2019-09-16 21:17] cscumming-dwss opened #7811 "source does not compile JDK8 for spring-mvc-forms"
pom is missing version numbers for the following
        <dependency>
            <groupId>javax.servlet</groupId>
            <artifactId>javax.servlet-api</artifactId>
            <version>${javax.servlet-api.version}</version>
        </dependency>
        <dependency>
            <groupId>javax.servlet.jsp</groupId>
            <artifactId>javax.servlet.jsp-api</artifactId>
            <versio

[2019-09-17 01:02] #7637 closed

[2019-09-20 19:29] arnabguptadev opened #7845 "Small bug in WordCount sample app"
https://github.com/eugenp/tutorials/blob/master/apache-spark/src/main/java/com/baeldung/WordCount.java#L31 has:

SPACE.split(s)

Should be:

s.split(SPACE)

[2019-09-26 05:01] cielong opened #7885 "Cannot reproduce last example of Spring Integration Java DSL"
Hi, I tried to reproduce the last example of tutorial [Spring Integration Java DSL](https://www.baeldung.com/spring-integration-java-dsl).

I noticed in the article you mentioned, I quote,
[code]
I understood it as a message if written into intermediate flow can be reused in multiple subflow, so I did a quick and dirty test to test my idea. Unfortunately, it failed and thus I'm here to ask if ther

[2019-09-26 12:31] grib0 opened #7888 "Dijkstra algo : what if distance between C -> E is <8"
The page https://www.baeldung.com/java-dijkstra is a great intro to dijkstra algo, but that would be great if it explains that this simple algo don't always find the shortest path.
If the distance between C and E in the graph is lower or equal to 8, the shortest path, passing by A to C will never be evaluated.
Is it a simplification or the dijkstra algo limitation ?
Why not evaluating all paths fr

[2019-09-28 20:25] #7420 closed

[2019-09-28 20:26] #7613 closed

[2019-09-28 20:27] #7144 closed

[2019-09-28 20:53] eric-martin commented on #7811
These versions are defined in the parent pom:
https://github.com/eugenp/tutorials/tree/master/parent-spring-5

[2019-09-28 20:53] #7811 closed

[2019-09-29 17:35] eric-martin commented on #7845
@arnabguptadev This is using java.util.regex.Pattern.split() which is correct.

[2019-09-29 17:35] #7845 closed

[2019-09-29 21:19] arnabguptadev commented on #7845
Yep. Sorry about that. I copied that page from the webpage and the SPACE ended up importing from Apache StringUtils class where it was declared as a string.

[2019-09-30 20:19] veontomo commented on #7635
Hey Ryanne,
you're right, volatile does not prevent any race conditions.
The article mentions that in multithread applications, two issues should be taken into considerations: mutual exclusion and visibility. Volatile deals with visibility, while synchronized - with mutual exclusion.
Namely, synchronized (and not volatile) is useful for resolving race conditions as you've correctly pointed out.

[2019-10-01 08:05] DJViking opened #7921 "Mockito Strict Stubbing: Remove default stubbing"
Good article about the "Mockito Strict Stubbing".
Forgive me if this is not the right place to discuss the article, as commenting on the article is closed.

What if we want to keep having stubbing strict and not use the lenient() ?
Is there a way to remove stubbing for one single test case with JUnit 5 and Mockito 2?

If 9 out of 10 tests needs the default stubbing, and we want to keep it strict,

[2019-10-01 18:05] maibin commented on #7444
@dkapil can you look into this one?

[2019-10-01 18:50] maibin commented on #7623
@brampat sorry for a delay response - could you please let us know to which article you are referring to?

[2019-10-01 18:50] #7635 closed

[2019-10-01 18:55] maibin commented on #7735
Hi @fborriello,
Thanks for your work and the references. We do write on various libraries, but our threshold is 500 stars/forks on GitHub. While BULL is definitely growing, it's not yet at our popularity target.
Let's see the numbers in 6 months or so.

Hope that it helps.

[2019-10-01 18:55] #7735 closed

[2019-10-01 19:10] maibin commented on #7888
@grib0 Dijkstra's always gives shortest path when the edge costs are all positive - in the example we evaluate only one option from node A, which yes, is a simplification of an algorithm - it should check all options from A. We'll add a sentence to article about it.

[2019-10-01 19:10] #7888 closed

[2019-10-02 15:40] dkapil commented on #7444
@maibin sure we will take care of this in an internal improvement. Thanks

[2019-10-03 21:21] JonCook commented on #7921
Hello @DJViking, I'm glad you liked the article and thanks for your questions. I'm not sure I follow them exactly I'm afraid.

As explained in the article strict stubbing is enabled by default in Mockito 2. There is no obligation to use the lenient() method. In fact Mockito explicitly recommends against this if possible.

When you say remove stubbing, what do you mean? Do you mean remove strict st

[2019-10-08 11:00] PARK-JONGSEOK opened #7979 "404 Error"
- Problem : [tutorials/java-streams/README.md](https://github.com/eugenp/tutorials/blob/master/java-streams/README.md)'s last line `More articles : [next -->]` link

- Solution : I think it's a simple link error.
  - https://github.com/eugenp/tutorials/blob/java-streams-2 → https://github.com/eugenp/tutorials/blob/master/java-streams-2

- Thank you for making me a good tutorial.

[2019-10-08 22:50] IgorNB opened #7984 "tryAcquire() already acquires a permit, if one is available (no need to call acquire() after it)"
I was going through your tutorial on https://www.baeldung.com/java-util-concurrent `section 2.7. Semaphore`.
1) Is the acquire() call after [tryAcquire() wich already acquires a permit, if one is available](https://docs.oracle.com/javase/8/docs/api/java/util/concurrent/Semaphore.html#tryAcquire--) necessary?
2) Is release() call outside finally block safe?

May be you'd like following fixes https:

[2019-10-10 17:48] fanatixan commented on #7979
Hello @PARK-JONGSEOK,

We are happy you liked the tutorial.
Thank you for letting us now this issue, we fixed it.

Cheers,
Attila

[2019-10-10 17:48] #7979 closed

[2019-10-10 17:57] fanatixan commented on #7984
Hello @IgorNB,

Thank you for your comment, you're right. Also, big thanks for the PR, it fixes the issue perfectly.

Cheers.

[2019-10-10 17:57] #7984 closed

[2019-10-11 16:50] #7623 closed

[2019-10-11 16:52] #7921 closed

[2019-10-12 04:50] compfantasy opened #8003 "Spring Security Context Propagation with @Async Issue"
After read the tutorial, there is no problem if the new thread will be created every time, but we usually use a thread pool to provide thread for async request, that is a problem for isolation the identity object, for example, if we have 2 threads in thread pool, we may propagate authentication object to the first thread, and return this thread to thread pool at the end of the process, so thread a

[2019-10-14 20:21] alessiostalla commented on #8003
Hi @compfantasy, what article or tutorial are you referring to? It's hard to answer properly without context and a code example. Anyway, your question is on point. Look at https://stackoverflow.com/questions/5246428/spring-security-and-async-authenticated-users-mixed-up and specifically the `DelegatingSecurityContextAsyncTaskExecutor` (https://docs.spring.io/spring-security/site/docs/current/api/o

[2019-10-17 16:38] maibin commented on #6806
@imambungo the issue is fixed now, closing.
Thanks again for your feedback!

[2019-10-17 16:38] #6806 closed

[2019-10-18 22:59] RobMaskell opened #8044 "SecurityEvaluationContextExtension seems to have been deprecated"
SecurityEvaluationContextExtension seems to have been deprecated, any ideas what to use in its place?

[2019-10-18 23:22] RobMaskell commented on #8044
My bad missing dependency on `org.springframework.security:spring-security-data`

[2019-10-18 23:22] #8044 closed

[2019-10-21 09:23] mathslimin opened #8050 "cannot run in intellij IDEA"
in parent run
$mavn clean install

open spring-mvc-velocity

build fail

intellij idea report error
cannot resole symbol springframework

[2019-10-21 09:40] #8050 closed

[2019-10-22 09:32] cpandya231 opened #8056 "Embedded DynamoDB integration test issue."
Need to change test rule to include -sharedDb parameter to successfully run DynamoDB integration test.

https://github.com/eugenp/tutorials/blob/621d4629e86b0ba4f10d9393f8c9430bcb30ab5a/aws/src/test/java/com/baeldung/dynamodb/rule/LocalDbCreationRule.java#L18

[2019-10-23 01:21] maibin commented on #7885
@cielong the issue should be fixed with the updated code, please fetch the latest version. Thank you

[2019-10-23 01:21] #7885 closed

[2019-10-23 20:25] carljmosca opened #8069 "Spring Security and Jersey tutorial"
I am having difficulty adding Spring Security to this example.  Is there another non-Spring Boot Jersey REST example I missed which includes Spring Security?

TIA,
Carl

[2019-10-24 18:07] maibin commented on #7444
@knutwannheden fixed, thanks!

[2019-10-24 18:42] maibin commented on #8056
@dkapil could you please verify that?

[2019-10-24 18:43] maibin commented on #8069
@carljmosca to which article are you referring to?

[2019-10-24 19:08] carljmosca commented on #8069
https://www.baeldung.com/jersey-rest-api-with-spring

[2019-10-25 18:01] maibin commented on #8069
@carljmosca currently we don't have an article with Spring Security, but please reach out to team@baeldung.com with your question and we'll help you from there.
Thanks!

[2019-10-25 18:01] #8069 closed

[2019-10-25 18:02] #8003 closed

[2019-10-30 22:02] carljmosca commented on #8069
Thank you. I have reached out.  In the meantime, I created this.

https://github.com/carljmosca/jersey-spring-security

[2019-11-01 23:28] alimate commented on #7806
Based on this argument, the answer is **No**. The same `Printer` instance is being shared between two threads. Suppose those two threads are running on two physical cores and after a while they both cache the `isOdd` value on their dedicated caches:
 - Thread 2 updates the `isOdd` value.
 - After that, Thread 1 reads the `isOdd`. **There is no guarantee that this value is the recent write.**

Happ

[2019-11-12 10:03] IcingInk opened #8178 "httpclient-multipart-upload - wrong endpoint !?"
Hello,

Following the examples in this tutorial : https://www.baeldung.com/httpclient-multipart-upload
There you declare a number of clients.
The endpoint though is a site on internet "http://echo.200please.com" , that site is no-longer and I am redirected to some yahoo-account.
Would it not be better if you had a 'server'-project as well written in Java, I am seeing myself (when trying out differ

[2019-11-13 08:07] vantuyen3103 opened #8184 "javax.naming.NoInitialContextException"
javax.naming.NoInitialContextException: Need to specify class name in environment or system property, or as an applet parameter, or in an application resource file:  java.naming.factory.initial

I got this exception when build spring boot with hibernate and jndi resource on netbeans

[2019-11-13 10:54] mpv945 opened #8186 "Zipkinspanreporter not found"
How do I write makezipkinspan reporter using zipkin2?

[2019-11-14 14:16] sniffertine opened #8189 "mvn clean install without a profile does not do a full build"
In the main readme, it states this:

I do not get this to work. I needed to analyse the pom to see that I need to activate profiles.

Also it sais

I was not able to do this (with an empty maven repo). Missing dependencies. I used this project: spring-remoting/remoting-amqp/remoting-amqp-client

[2019-11-14 18:08] maibin commented on #8178
@IcingInk thanks for noticing - we created an internal ticket to work on it. I'll follow up in here with resolution.

[2019-11-14 18:11] maibin commented on #8184
@vantuyen3103 could you please let us know to which article you are referring?

[2019-11-14 18:57] maibin commented on #8186
@mpv945 could you let us know if you are referring to our articles? Thanks!

[2019-11-18 19:26] tejagaridepally opened #8208 "org.springframework.security.oauth2.client.resource.UserRedirectRequiredException: A redirect is required to get the users approval"
I have added the redirectURI in the properties file and passing the value to the OAuth client as mentioned in the code, but still it says  "A redirect is required to get the users approval". I am trying integrate OpenId to my application

[2019-11-22 17:11] #7806 closed

[2019-11-22 17:12] #8184 closed

[2019-11-22 17:12] #8186 closed

[2019-11-22 17:14] maibin commented on #8208
@tejagaridepally could you please let us know to which article you are referring to?

[2019-11-22 17:19] #8056 closed

[2019-11-23 16:30] sirussje opened #8235 "Payload encryptions"
Dear Eagan
Is there any option of soap service payload encryption using spring boot

[2019-11-24 01:39] tejagaridepally commented on #8208
https://www.baeldung.com/spring-security-openid-connect I am referring to Open ID connect integration to a springboot web application, Do you have any references?

[2019-11-24 01:41] tejagaridepally commented on #8208
https://github.com/eugenp/tutorials/tree/master/spring-security-openid This is the article

[2019-11-24 22:46] eborgbjerg opened #8244 "spring-data-rest can't start"
It seems the spring-data-rest project is broken somehow.
When running

$ mvn spring-boot:run

I get this:

[WARNING]
java.lang.ClassNotFoundException: com.baeldung.SpringDataRestApplication
    at java.net.URLClassLoader.findClass (URLClassLoader.java:382)
    at java.lang.ClassLoader.loadClass (ClassLoader.java:424)
    at java.lang.ClassLoader.loadClass (ClassLoader.java:357)
    at org.springfr

[2019-11-29 22:04] johnpalantir opened #8274 "Null Pointer when saving data into cassandra"
Getting null pointer at https://github.com/eugenp/tutorials/blob/master/apache-spark/src/main/java/com/baeldung/data/pipeline/WordCountingApp.java

 wordCounts.foreachRDD(javaRdd -> {
            Map<String, Integer> wordCountMap = javaRdd.collectAsMap();
            for (String key : wordCountMap.keySet()) {
                List<Word> wordList = Arrays.asList(new Word(key, wordCountMap.get(key)))

[2019-11-29 22:04] johnpalantir commented on #8274
ref: https://www.baeldung.com/kafka-spark-data-pipeline

[2019-11-29 22:10] johnpalantir commented on #8274
- Error running job streaming job 1575065360000 ms.0
java.lang.NullPointerException: null
	at com.datastax.driver.core.Cluster$Manager.close(Cluster.java:1627)
	at com.datastax.driver.core.Cluster$Manager.access$200(Cluster.java:1318)
	at com.datastax.driver.core.Cluster.closeAsync(Cluster.java:566)
	at com.datastax.driver.core.Cluster.close(Cluster.java:578)
	at com.datastax.spark.connector.cql.C

[2019-12-04 07:44] mhdmaktabi opened #8302 "How to use Jmeter for UI performance testing?"
Hi,

I would like to use Jmeter for UI performance testing.
How to use Jmeter for UI performance testing?
How can I get the loading time of the HTML elements?

Thanks

[2019-12-05 15:08] mehran-mehrafarin opened #8312 "spring 5 mvc url matching"
I'm looking for a way to use multiple path parameters as one string.Something like [this](https://www.baeldung.com/spring-5-mvc-url-matching#1-uri-variable-syntax-foo-using-a-handler-method) I want to create something like file manager.But it doesn't work!!!

[2019-12-05 20:40] maibin commented on #8235
Hi @sirussje - is it related directly to any of our articles? If not, I'd suggest contacting team@baeldung.com with that question and closing this one :)

[2019-12-05 20:40] maibin commented on #8244
@dkapil could you look into it?

[2019-12-05 20:42] maibin commented on #8302
Hi @mhdmaktabi - for such specific questions, not directly related to our repository, we invite you to write an email to team@baeldung.com.
Thanks!

[2019-12-05 20:42] #8302 closed

[2019-12-06 01:05] dkapil commented on #8244
@maibin this occurred due to internal improvements related to restructuring. This should fix it https://github.com/eugenp/tutorials/pull/8314

[2019-12-06 07:08] #8244 closed

[2019-12-06 08:24] thilinaucsc commented on #682
any update

[2019-12-07 13:16] pbodnar opened #8322 "Typos in the Guide to sun.misc.Unsafe"
The tutorial is located at https://www.baeldung.com/java-unsafe.

There are the following small issues. To quote the otherwise great article:

To be exact, the class is actually from JRE, not from JDK. I know the terms are often used interchangeably, but I think using JDK may cause confusion in this context.

One "s" is missing in the last word... ;)

[2019-12-09 14:49] Artemsetko opened #8338 "Intellij Idea Class Resolving Issue"
Actually I have an issue in the idea. I tried to test the example from https://www.baeldung.com/java-mongodb and I've got this annoying "cannot find symbol" error
What should I do in this case?
<img width="1054" alt="Screen Shot 2019-12-09 at 4 47 34 PM" src="https://user-images.githubusercontent.com/8721460/70445163-cb3d3900-1aa3-11ea-882b-036856bbc0af.png">

[2019-12-10 17:09] maibin commented on #8274
@johnpalantir we did check it on our side and everything seems fine. Since there are a lot of local configuration frameworks involved, could you please let us know how do you setup you Spark and Cassandra?

[2019-12-12 02:09] eric-martin commented on #8178
This has been fixed

[2019-12-12 02:09] #8178 closed

[2019-12-12 16:50] #8235 closed

[2019-12-12 18:02] maibin commented on #8189
@dkapil could you look into that please?

[2019-12-12 18:04] #8274 closed

[2019-12-12 18:08] maibin commented on #8312
@mehran-mehrafarin could you please provide more details? Is there something not working in our code, or do you want to achieve something similar but it doesn't work in your scenario? If the latter, we suggest reaching out to team@baeldung.com, they will be happy to help, as here we usually deal with issues directly related to our articles and codebase.
Hope that his helps

[2019-12-12 18:09] maibin commented on #8322
@pbodnar thanks - we'll deal with that ASAP :)

[2019-12-12 18:09] #8322 closed

[2019-12-12 18:11] maibin commented on #8338
@Artemsetko did you import your project as a Maven one? Also, we can suggest using Maven update to re-download the dependencies. If the problem still persists please let us know.

[2019-12-13 05:52] Warfront1 opened #8361 "Spring Cognito Tutorial Not functioning"
https://www.baeldung.com/spring-security-oauth-cognito

When following the guide, and cloning the latest version of the repo.
I am getting the following experience when attempting to log into my test cognito user account.

![image](https://user-images.githubusercontent.com/1920038/70772220-e1682500-1d41-11ea-9eed-efb8d7bd968e.png)

I have tested the credentials with the AWS hosted UI, and they wor

[2019-12-17 22:15] maibin commented on #7370
@Gurminder08 - we did follow all the steps from the tutorial, checked everything and we cannot reproduce your error - everything works as intended on our side. You might have some ports blocked or changes to your localhost configuration.
Since we can't reproduce it, I am closing this one.

[2019-12-17 22:15] #7370 closed

[2019-12-18 07:36] yshinkarev opened #8397 "Shared primary key (one-to-one)"
Hello.
Seems you have issue in a [jpa-one-to-one](https://www.baeldung.com/jpa-one-to-one#spk-strategy) page.
You can read more [here](https://stackoverflow.com/a/6839336/238089).
Thanks.

[2019-12-18 15:32] jzheaux commented on #8361
@Warfront1 sorry to hear you are having trouble with this - would you be able to provide your sample application as a GitHub repo? I'll check it out and see if I can make something of it.

[2019-12-18 18:26] Warfront1 commented on #8361
@jzheaux It is just a cloned version of the tutorials repo, the only thing changed was the spring yaml above. No changes other than the above yaml.

[2019-12-18 19:40] NicBoi opened #8400 "Collaborative Filtering Tutorial Issue"
I believe there is an issue in this [tutorial](https://www.baeldung.com/java-collaborative-filtering-recommendations), more specifically in this [file](https://github.com/eugenp/tutorials/blob/master/algorithms-miscellaneous-2/src/main/java/com/baeldung/algorithms/slope_one/SlopeOne.java), lines 101-103.

The way it is at the moment, all missing ratings are set to "-1", regardless if the algorithm

[2019-12-19 15:40] yshinkarev opened #8406 "symbolic-and-hard-links page return 404"
https://www.baeldung.com/linux/symbolic-and-hard-links

[2019-12-23 04:50] ilikeflex opened #8422 "Unable to mvn clean install on java-websocket"
Hi

I am trying to build project java-websocket project only and I am getting error

[ERROR] [ERROR] Some problems were encountered while processing the POMs:
[ERROR] Unresolveable build extension: Plugin com.vackosar.gitflowincrementalbuilder:gitflow-incremental-builder:3.8 or one of its dependencies could not be resolved: Failed to read artifact descriptor for com.vackosar.gitflowincrementalbuil

[2019-12-25 13:13] paulvas commented on #8361
I ran into same issue - it doesn't redirect to cognito for authentication. If I use Cognito Pool credentials on the login page I get an error "No AuthenticationProvider found for org.springframework.security.authentication.UsernamePasswordAuthenticationToken".

[2019-12-29 22:37] #8312 closed

[2019-12-29 22:37] #8338 closed

[2019-12-31 12:10] vickyshah129 commented on #393
although it is late. The actual mistake people doing with this tutorial is not changing according to their scenario. Tutorial is using Entity for @DBRef and you are using collection. So in class **CascadeCallback** you have to parse the field in collection and then iterate over it to call getMongoOperations().save(objectInCollection);

Hope that will help for people reading this tutorial now.

[2020-01-01 14:25] TapiaX opened #8457 "Forgotten dependency in java-cassandra"
Failed to load class org.slf4j.impl.StaticLoggerBinder
You omitted the dependency of logback

[2020-01-03 03:23] canliture opened #8467 "I can't clone the project..."
The project is go large and I cloned the project so times.
How can I solve the problem...

[2020-01-11 04:18] tejagaridepally commented on #8208
@maibin any luck?

[2020-01-14 03:27] nedtwigg opened #8526 "durian-globals"
Hello!  [Singletons in Java](https://www.baeldung.com/java-singleton) and [Double-Checked Locking with Singleton](https://www.baeldung.com/java-singleton-double-checked-locking) are both excellent!  But one missing piece is testing.

I made a library called [durian-globals](https://github.com/diffplug/durian-globals) which adheres to the lessons of your tutorials (e.g. [double-checked locking](htt

[2020-01-14 10:03] dinesh-pathak100 opened #8528 "/signup form is not available"
Hi, in spring-boot-crud tutorial, When I am adding a user then href will /signup but on that page only single string that is "add-user" is shown. How can I add user.

[2020-01-14 11:22] sorin-costea commented on #7735
JMapper has even less stars and was included...

[2020-01-15 23:11] crsgarcias opened #8540 "spring-boot-admin-server member not working"
I have a problem

I tried to add a new network, but I cant show

![image](https://user-images.githubusercontent.com/25749111/72479445-12f96380-37ba-11ea-8951-50f1d5968efa.png)

Do I need to modify another code?

Thanks!

[2020-01-21 07:24] anudeepmadrampalli opened #8559 "Spring cloud config server Java heap space issue."
Whenever I am trying to start the Spring cloud config server, I am facing the Java heap space issue. Is there a solution for this.

[2020-01-22 04:34] javaHelper opened #8563 "spring-boot-springdoc: Is there any way if we can pass the Custom Header in all the request and train REST endpoints to accept that?"

[2020-01-22 20:43] kwoyke commented on #8406
@yshinkarev thanks for letting us know!
It looks like it was a temporary problem. Currently this page opens fine.

[2020-01-22 20:43] #8406 closed

[2020-01-22 20:47] kwoyke commented on #8400
@NicBoi thanks for the feedback. We'll take a look into this and get back to you.

[2020-01-22 21:02] kwoyke commented on #8422
Hi @ilikeflex,

I've checked this module on our end a moment ago. Everything builds fine, i.e. gitflow-incremental-builder has been downloaded without any problem:
[code]

Maybe you should verify your local maven setup?

[2020-01-22 21:10] kwoyke commented on #8457
Thanks for the feedback @TapiaX.
I've just build the module and has been able to successfully run all the tests.

Can you please provide more details on when you face the mentioned issue?

[2020-01-22 21:13] kwoyke commented on #8467
Hi @canliture,
Can you please provide more details? Are you facing some issues when actually cloning the project from GitHub or importing it to the IDE?

[2020-01-23 07:19] abhana1 opened #8568 "Demo Issue"

[2020-01-24 13:54] kwoyke commented on #8400
@NicBoi just wanted to let you know we have updated the code and the article. Thanks again for your feedback.

[2020-01-24 13:54] #8400 closed

[2020-01-26 09:02] kwoyke commented on #8467
@canliture I'm closing this issue as it's not clear what the real problem is and therefore we can't reproduce it.

[2020-01-26 09:02] #8467 closed

[2020-01-26 09:03] kwoyke commented on #8568
I think it's something we can just close.

[2020-01-26 09:03] #8568 closed

[2020-01-26 09:07] kwoyke commented on #8559
Hi @anudeepmadrampalli thanks for the feedback.
Can you please provide more details on how to reproduce this issue? I assume you're referring to the https://github.com/eugenp/tutorials/tree/master/spring-cloud/spring-cloud-config/server?

[2020-01-26 09:35] kwoyke commented on #8528
Hi @dinesh-pathak100, I've just run the application locally. You should get a following for when adding a new user:
![signup](https://user-images.githubusercontent.com/10830473/73133325-63c55380-4027-11ea-95b3-dec33fa10140.JPG)

Can you double check this on your end? If you're still facing an issue, can you describe how you start the app? Have you modified the code in any way before running the ap

[2020-01-26 12:06] eugenp commented on #682
Update to what? :)

[2020-01-26 12:10] eugenp commented on #8189
Quick ping here, @maibin

[2020-01-27 08:51] kwoyke commented on #8540
Hi @crsgarcias,
Are there any entries regarding 172.20.54.15 address in the logs?

[2020-01-27 12:57] crsgarcias commented on #8540
Yes, it is, but I can´t react these address

[2020-01-27 13:00] kwoyke commented on #8540
So can you please share the relevant log entries here?

[2020-01-29 12:48] kwoyke commented on #8397
Hi @yshinkarev,
Thanks for the feedback.
We've logged an internal task in our system and will take a look into this.

[2020-01-30 18:26] maibin commented on #8526
Hi @nedtwigg yes - please write about it to team@baeldung.com -> we'll handle it from then.
Thanks!

[2020-01-30 18:26] #8526 closed

[2020-01-30 20:21] kwoyke commented on #8422
The issue you're seeing is due to Maven not being able to download an artifact from the Central repository, even though the dependency is there.

This is common if you're behind a corporate proxy, or using a Repository Manager. You can find more information on these topics in the Maven documentation: http://maven.apache.org/guides/mini/guide-proxies.html https://maven.apache.org/repository-managem

[2020-01-30 20:21] #8422 closed

[2020-02-07 20:03] kwoyke commented on #8457
As there's no response here and we are not able to reproduce the issue, I'm closing this one.

[2020-02-07 20:03] #8457 closed

[2020-02-07 20:13] kwoyke commented on #8563
Hi @javaHelper,
This seems to be an interesting case. However, with this kind of open questions, it's better to discuss it over e-mail - team@baeldung.com.
This is because here, on GitHub, we want to handle only the real issues directly related to our code base.
Just drop us an e-mail and we'll try to help.

[2020-02-07 20:13] #8563 closed

[2020-02-14 00:25] kadimulam opened #8720 "How do you exclude unwanted dependencies with import scope and using BOM?"

[2020-02-14 19:30] kwoyke commented on #8720
Hi @kadimulam,

I'm not sure the functionality you need is currently supported by the Maven.
Please take a look here - https://stackoverflow.com/questions/39276024/import-dependency-management-with-exclusion - and here - https://issues.apache.org/jira/browse/MNG-5600
As the above jira issue indicates, the fix should be delivered with Maven 3.7.

Anyway, this problem isn't directly related to our r

[2020-02-14 19:30] #8720 closed

[2020-02-14 19:31] #8528 closed

[2020-02-14 19:32] #8559 closed

[2020-02-24 13:23] M-Thirumal opened #8771 "ACL Spring security with ehcache 3"
Is there any option to create EhCacheBasedAclCache() with ehcache 3 instead of ehcache 2?

[2020-03-07 02:25] bianbian-org opened #8821 "olingo2 createEntityManager() is not thread safe"
this line:
https://github.com/eugenp/tutorials/blob/master/apache-olingo/olingo2/src/main/java/com/baeldung/examples/olingo2/JerseyConfig.java#L77

It is NOT thread safe, so different requests may get the same EntityManager.
then cause error: statement is closed

[2020-03-07 08:32] bianbian-org commented on #8821
also found getODataJPAContext() is NOT thread safe:
https://github.com/eugenp/tutorials/blob/master/apache-olingo/olingo2/src/main/java/com/baeldung/examples/olingo2/CarsODataJPAServiceFactory.java#L53
so maybe in different requests, getODataJPAContext() got same context...

[2020-03-07 08:58] bianbian-org commented on #8821
In spite of that getODataJPAContext() got a singleton ODataJPAContext, but:
https://github.com/eugenp/tutorials/blob/master/apache-olingo/olingo2/src/main/java/com/baeldung/examples/olingo2/CarsODataJPAServiceFactory.java#L59
ctx.setEntityManager(new EntityManagerWrapper(em));
i.e., ODataJPAContext only contain one single EntityManager (EM).
so in different threads, EM may conflict.
e.g.:
req1 ->

[2020-03-18 09:21] bianbian-org commented on #8821
after wrap the EntityManager (EM) in ODataJPAContext with ThreadLocal, I have fixed this bug, please check my pull for olingo2.

[2020-03-18 09:22] #8821 closed

[2020-03-20 13:35] salvag-ntt opened #8923 "PACT file not generated"
Hi,
I was following this (really good) tutorial https://www.baeldung.com/pact-junit-consumer-driven-contracts
In section - 4.1 Resulting Pact Artifact - the expectation is that the PACT file will be generated in a sub-directory of target.
After a `mvn clan install` I don't seem to be able to find it. To be honest I am not even sure the tests ran.
Was using Java8 to compile

[2020-03-21 16:52] dkapil commented on #8189
Hi @sniffertine
We have updated our Readme with the latest instructions on how to build the repository and its specific modules.
For another issue, `remoting-http-client` is using a dependency `remoting-http-api`, which is itself present as a child project inside `spring-remoting\remoting-http\remoting-http-api`
Therefore for such child projects, we should be building the parent project first i.e.

[2020-03-21 16:52] #8189 closed

[2020-03-24 00:47] chlegou opened #8952 "A constructor is missing for Jackson Serializer."
Following your article to skip entities conditionally,
link: https://www.baeldung.com/jackson-serialize-field-custom-criteria

 i have faced an error, saying that the serializer must have an empty constructor.

https://github.com/eugenp/tutorials/blob/192eb1f54c45a887645aef5b825f27218e601695/jackson-modules/jackson-custom-conversions/src/main/java/com/baeldung/skipfields/HidableSerializer.java#L10

[2020-03-24 01:20] chlegou commented on #8952
following this issue, when i removed the annotation of serializable, the error was gone.

    @JsonSerialize(using = HidableSerializer.class)

[2020-03-24 01:21] #8952 closed

[2020-03-24 11:21] GustaveNimant opened #8955 "Could not initialize class org.jetbrains.kotlin.gradle.internal.KotlinSourceSetProviderImplKt"
Hello

I followed the steps given in https://www.codeflow.site/fr/article/kotlin-javascript
I answered "1 basic" for gradle init (which was not specified)
I copy the file https://github.com/eugenp/tutorials/blob/master/kotlin-js/src/main/kotlin/com/baeldung/kotlinjs/CryptoRate.kt and put it into src/main/kotlin
running gradle build gives the error "Could not initialize class org.jetbrains.kotlin.g

[2020-03-25 18:06] ritcat14 opened #8966 "Rectangle logic is wrong for default java coordinate scheme"
Rectangle intersects logic is wrong as follows:

First check of Y checks if rec1 top right y is less than rec2 bottom left y. In Java, because the coordinate system works from top-left (0,0), this doesn't work. A rectangle's top right can be above anothers bottom left and be intersecting.

Instead:
`if (topRight.getY() > oBottomLeft.getY() || bottomLeft.getY() < otherTopRight.getY()) return false;

[2020-03-26 07:19] fazl commented on #8397
Not sure I understood the issue referenced by @yshinkarev.

But I was confused by a disparity in Section 4 ("Using a shared primary key") - the modeling in section 4.1 shows a column "user_id" in table address, which is never mentioned in the JPA code in section 4.2 (which explicitly refers to a column "id" in table address).

My first thought was you could fix the annotation of the field Address.

[2020-03-26 21:40] Med-All opened #8973 "[hibernate-search] No transactional EntityManager available error"
`No transactional EntityManager available` error when running example from

https://github.com/eugenp/tutorials/blob/master/persistence-modules/spring-hibernate-5/src/main/java/com/baeldung/hibernatesearch/ProductSearchDao.java

[2020-03-29 14:45] andronix83 commented on #8973
Hi, which version of JDK are you using?
If it is 11 or higher, then the problem might be in missing JAXB API. In order to fix it, please add the following dependencies to your spring-hibernate-5 POM:

`        <dependency>
            <groupId>javax.xml.bind</groupId>
            <artifactId>jaxb-api</artifactId>
            <version>2.3.1</version>
        </dependency>
        <dependency>

[2020-03-30 13:47] Med-All commented on #8973
I'm using JDK 1.8.0.151

[2020-04-01 18:55] lor6 commented on #7520
the dependencies and article have been updated

[2020-04-01 18:55] #7520 closed

[2020-04-01 19:56] kwoyke commented on #8540
Hi @crsgarcias,
It's been a while. So is this issue still valid? Will you be able to provide the logs?

[2020-04-01 20:30] kwoyke commented on #8923
Hi @salvag-ntt,
Sorry to hear you're having trouble with this. I wasn't able to create the file either.
I'll log the internal ticket in our system and keep you updated.

[2020-04-01 20:46] kwoyke commented on #8966
Hi @ritcat14,
I've verified the article and the code and to be honest it all looks correct.
Could you please add a new unit test that shows a case in which our code is wrong? You can simply add it to the RectangleUnitTest and issue a PR.

[2020-04-04 14:16] usman-mohyuddin opened #9029 "Hexagonal-architecture in java"
adding bookstore developed in hexagonal architecture.

[2020-04-08 12:36] clydzik opened #9049 "way to expand spring test properties from maven"
I read and tried this one:
https://www.baeldung.com/spring-boot-auto-property-expansion

this obviously works but is there a way to expand application.properties
in
src/test/resources

As pointed here (no solution by one sentence):
https://docs.spring.io/spring-boot/docs/2.1.12.RELEASE/reference/html/howto-properties-and-configuration.html

"
Only production configuration is filtered that way (in

[2020-04-08 16:03] ritcat14 commented on #8966
![rec example](https://user-images.githubusercontent.com/7569862/78806504-a6f25a00-79ba-11ea-9cb6-b919151cd14b.png)

Here is a basic diagram explaining. It is the simple logic that the top-right Y coordinate of rec2 can be less than the bottom left y coordinate of rec 1 and the rectangles can still be intersecting. Your code does not allow for this in Java with a coordinate system shown in the ima

[2020-04-08 16:07] ritcat14 commented on #8966
You can find a working example here: https://github.com/ritcat14/CINDER-ENGINE/blob/master/src/main/java/core/objects/Rectangle.java

[2020-04-09 08:52] garkenbout-quintor opened #9054 "Lombok version mismatch in 'Implementing a Custom Lombok Annotation'"
In the Baeldung page of the tutorial it mentions using lombok version 1.18.4 as a dependency, but the backing repo has version 1.14.8, which is required to gain access to the JavacAnnotationHandler class since starting at version 1.16.0 has hidden the internal api from IDE's.

Solution:
Change the version in the Baeldung page to match the repo and specify why this version is used.

[2020-04-09 12:27] ammaralii opened #9056 "DB Connection validity check"
In Core Java Persistence of Persistence Module, DB connection must be checked before giving it to resource to use it.

[code]

Todo in Code is added for more detail.

[2020-04-09 13:30] ammaralii commented on #9056
@eugenp assign this ticket to me.....

[2020-04-09 21:51] rohadira opened #9063 "Global conversion doesn't work for me"
Hi, the string to date conversion works for me at the controller level, but when I try to configure the conversion globally nothing happens and I get the same initial error: "Failed to convert value of type 'java.lang.String' to required type 'java.time.LocalDateTime ".

[2020-04-10 11:44] DPovilas opened #9068 "cas example missing pom.xml file"
Project **cas** contains empty pom.xml file.

[2020-04-10 15:18] kwoyke commented on #8966
@ritcat14 Are you saying that in the above diagram the top-right Y coordinate of rec2 is **less** than the bottom left y coordinate of rec 1??

[2020-04-10 15:31] ritcat14 commented on #8966
Yes if you pay attention to the fact this is based on the default java coordinate system (with the top left of the screen being 0,0), then it is obvious rec 2 top y is less than rec1 bottom left y

[2020-04-10 15:53] kwoyke commented on #8966
Let's then assume that the top-right Y coordinate of rec2 is (x=5, y=-1) and the bottom left y coordinate of rec 1 is (x=1, y=-6).
Does it mean -1 is less than -6?

[2020-04-10 16:35] ritcat14 commented on #8966
Why would it be that at round? The top of the screen is y=0, with positive values of Y going down. E.g on a standard 1080p screen, the top left coordinate is (0,0), top right (1920,0), bottom left (0, 1080) and bottom right (1920,1080). If you wanted some example values, take the bottom left of rec1 as (x=1, y=6) and too right of rec2 as (x=6, y=1). In which case rec2y < rec1y as per the diagram a

[2020-04-11 05:47] SrWildman opened #9076 "Error - URL must start with 'jdbc' when following tutorial"
When following the tutorial here - https://www.baeldung.com/spring-boot-testcontainers-integration-test I keep running into the error that the ApplicationContext can not start because URL must start with 'jdbc'

Wasn't sure exactly where else to post this issue.

Thank you!!

[2020-04-11 10:45] kwoyke commented on #8966
I think we have a fundamental misunderstanding here. Our article, as well as the implementation, assume we use a "default math model" - Cartesian coordinate system.
So yeah, I agree, if you change the environment to anything other than that, the outcome might be unpredictable.

[2020-04-11 10:46] #9029 closed

[2020-04-11 11:24] kwoyke commented on #9049
Hi @clydzik,
As the official documentation says - it doesn't work out of the box for Spring Boot.
One idea would be to provide the configuration manually, something like:
        <testResources>
            <testResource>
                <directory>${basedir}/src/test/resources</directory>
                <filtering>true</filtering>
                <includes>
                    <include>**/applic

[2020-04-11 11:27] kwoyke commented on #9054
Hi @garkenbout-quintor,
Thanks for the heads up! We'll take a look into this.

[2020-04-11 11:40] kwoyke commented on #9063
Hi @rohadira,
Can you please clarify what article does this refer to?
Also, can you shed some more light on how exactly you _configure the conversion globally_?
Thanks!

[2020-04-11 11:51] kwoyke commented on #9068
Hi @DPovilas,
Thanks for the feedback.
Indeed, there are two empty pom.xml files in the cas and cas-server projects. But at first glance, it looks like they are not needed.
There's a README in the cas-server that describes how to boot the server.
The cas-secured-app is a standard Spring Boot app and the pom.xml looks fine.
We'll clean up the cas module.
Please let me know if those empty poms cause

[2020-04-11 16:48] SrWildman commented on #9076
To clarify a bit. I can get step 3 working for a single test class. I am running into issues trying to use a single db for all test classes as in step 4.

[2020-04-11 17:10] SrWildman commented on #9076
I got things to work using the following. Im not sure that its best to have this initializer in all of my tests, so I am going to look at creating an abstract class to take care of it for me.

`@ContextConfiguration(initializers = {PerformersRepositoryTest.Initializer.class})`

[code]

[2020-04-11 17:43] #8540 closed

[2020-04-12 14:34] d3minem commented on #393
@vickyshah129 - I agree with you. For collection, it should be handled inside the **CascadeCallback** but the <if block> never becomes true and the code never execute it.

      if (field.isAnnotationPresent(DBRef.class) && field.isAnnotationPresent(CascadeSave.class))

Do I need to write the `Converter` as well? just like this example does for single DBObject. Any idea please?

        if (field.

[2020-04-12 14:49] d3minem commented on #393
After Debugging, I got this:

[code]

[2020-04-12 15:41] rohadira commented on #9063
the article I'm following is: https: //www.baeldung.com/spring-date-parameters

[2020-04-12 15:46] rohadira commented on #9063
controller level conversion works:
`@PostMapping("/save")
	public void date(
		@RequestParam("name") String name,
		@RequestParam("email") String email,
		@RequestParam("password") String password,
		@RequestParam("birthday")  @DateTimeFormat(pattern = "yyyy-MM-dd") Date birthday) {
		// ...
		User user = new User();
		user.setName( name );
		user.setEmail( email );
		user.setPassword( password );

[2020-04-12 15:59] d3minem commented on #393
Solved it! The problem was that example [baeldung](https://www.baeldung.com/cascading-with-dbref-and-lifecycle-events-in-spring-data-mongodb) also require to register or implement custom `UserCascadeSaveMongoEventListener` which don't need it. After removing the bean registration of above class, `CascadeCallback` class can see the @DBRef and @CascadeOnSave annotation of child class and the **if bl

[2020-04-12 16:53] kwoyke commented on #9063
@rohadira,
Thanks for the clarification!
We've registered an issue for that in our internal system and we'll take a look into this.

[2020-04-13 13:59] GMusliaj opened #9092 "Typo (should be node.right instead)"
https://github.com/eugenp/tutorials/blob/1108b9738558b356b683fc92f3b96f0b0c085fd5/data-structures/src/main/java/com/baeldung/tree/BinaryTree.java#L145

[2020-04-13 16:07] #8966 closed

[2020-04-13 16:14] kwoyke commented on #9092
Hi @GMusliaj,
Thanks for the feedback! We'll fix this.

[2020-04-13 19:34] kwoyke commented on #8973
Hi @Med-All,
Sorry to hear you're having issues with this.
Can you please clarify how to recreate the problem? Does it occur during the tests or only when the 'live' application is started?
Can you also say how do you deploy the app and provide the full log?
Thanks!

[2020-04-13 19:47] kwoyke commented on #8771
Hi @M-Thirumal,
If you take a look at the source code of the EhCacheBasedAclCache, you'll notice it still imports net.sf.ehcache.* classes. As far as I'm concerned, starting from version 3 ehcache moved to org.ehcache.
So, as for now, I don't think there's an easy way to use ehcache 3.
But anyway, I'll close this issue, as this doesn't address any problem with our codebase.
What I can advise thoug

[2020-04-13 19:47] #8771 closed

[2020-04-14 07:11] DPovilas commented on #9068
I think if you use CAS, you have to add dependency in your pom:
`<dependency>
       <groupId>org.springframework.security</groupId>
       <artifactId>spring-security-cas</artifactId>
</dependency>`

[2020-04-14 14:14] clydzik commented on #9049
yes. thx!. i was playing myself but in <resources> not <testResources> thus it was not working.
This one is a solution. can confirm

[2020-04-14 14:14] #9049 closed

[2020-04-14 17:29] kwoyke commented on #9092
Fixed.

[2020-04-14 17:29] #9092 closed

[2020-04-16 11:02] vijaysavitri7 opened #9109 "Hi, When i was deploying this application in my Ec2 server i am getting EC2Exception error. Could you help for this.."

[2020-04-16 11:05] vijaysavitri7 commented on #9109
![aws_ec2_exception](https://user-images.githubusercontent.com/40000769/79449101-3d003300-8000-11ea-84c1-7051c16b32a4.PNG)

[2020-04-17 00:28] muthudayalan opened #9115 "Error while running SpringBootRestApplication"
Error starting ApplicationContext. To display the conditions report re-run your application with 'debug' enabled.
2020-04-16 20:25:49.076 ERROR 7928 --- [           main] o.s.boot.SpringApplication               : Application run failed

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'entityManagerFactory' defined in class path resource [com/baeldung/spring/

[2020-04-17 13:10] kwoyke commented on #9115
Hi @muthudayalan,
Sorry to hear you're having issue with this.
I've logged the internal ticket in our system. We'll fix this.
I'll keep you updated here.

[2020-04-18 15:01] kwoyke commented on #9068
We'll clean up the cas module and remove the empty poms.
Also note that cas is gradle based project so you should use it instead of Maven.

[2020-04-18 15:01] #9068 closed

[2020-04-18 16:10] kwoyke commented on #9115
Hi @muthudayalan,
We've fixed this problem already.
Cheers

[2020-04-18 16:10] #9115 closed

[2020-04-18 17:09] muthudayalan commented on #9115
What I need to do in order to do work at my workspace?

[2020-04-18 18:18] kwoyke commented on #9115
You just need to pull the latest changes. That's all.

[2020-04-19 01:51] rafaelrenanpacheco opened #9140 "Spring Security ACL"
Hi there! I followed the instructions on https://www.baeldung.com/spring-security-acl, but the `MethodSecurityExpressionHandler` configuration didn't work on Spring Boot 2.2.6. What worked was creating a bean of `AclPermissionEvaluator`. So, instead of:

[code]

I did:

[code]

[2020-04-20 04:27] geniuszhe opened #9151 "pom.xml error"
${org.slf4j.version} some properties not found

[2020-04-20 04:36] #9151 closed

[2020-04-22 10:16] ObiWanKaplan opened #9164 "Error while getting token"
I've created an UAA server and a client, as shown in https://www.baeldung.com/cloud-foundry-uaa
Now, I'm trying to login with my created user, after choosing rights and clicking "Authorize" I get this error: [invalid_id_token] An error occurred while attempting to decode the Jwt: Signed JWT rejected: Another algorithm expected, or no matching key(s) found
uaa.yml is attached below

![изображение_v

[2020-04-23 17:32] #9076 closed

[2020-04-23 18:00] 2chaines opened #9168 "Converter within Converter"
Is it possible to have a converter within a converter?

Example:

**Class**
`class Contact {
   private Address address;
}`

**Converter**
[code]

**Configuration**
[code]

[2020-04-23 18:04] 2chaines commented on #9168
is this the way you would go upon it?

[2020-04-26 15:08] kwoyke commented on #9140
Hi @rafaelrenanpacheco,
Thanks for the feedback! I'm sorry to hear you face issues with this.
We'll take a look into this. But can you please clarify when does the problem occurs? Is it during startup? Is any exception thrown? Or does some functionality doesn't work as expected?
I'd appreciate your input here.

[2020-04-26 15:11] kwoyke commented on #9168
Hi @2chaines,
Can you please clarify which article this refers to?

[2020-04-26 15:13] kwoyke commented on #9056
Hi @ammaralii,
Thanks for the feedback. We'll take a look into this.
I'll keep you updated!

[2020-04-26 17:03] rafaelrenanpacheco commented on #9140
Hello!

With the first configuration the ACL was just ignored, with the second configuration it worked as expected, and ACL policy was applied when calling secured methods.

I'm no longer using Spring ACL, so if this issue doesn't happen on your application, I think this issue may be closed.

Best regards,
Rafael Pacheco.

[2020-04-27 19:33] kwoyke commented on #9140
Thanks for the reply @rafaelrenanpacheco!
Well, I've just checked our example project and the ACL is working fine.
Just to clarify, have you observed the issue mentioned above in our sample application? Or was it one that you've created yourself?

[2020-04-27 19:49] rafaelrenanpacheco commented on #9140
It was on an application I created myself. I followed the ACL tutorial and at the end, when calling a HTTP endpoint that calls a secured method, the ACL was completely ignored. After removing the `MethodSecurityExpressionHandler` bean and creating a bean for `AclPermissionEvaluator` it started to work just fine. In this project I'm also using Spring Cloud Security, so it may have caused some confi

[2020-04-27 19:49] #9140 closed

[2020-04-27 19:50] kwoyke commented on #9140
Thanks for clarifying @rafaelrenanpacheco!

[2020-05-03 04:17] ammaralii commented on #9056
Hi @kwoyke,
I already provide the fix and open the merge request. You can reproduce the issue locally by down the DB service then up again then it'll give exception communication link failure or sometimes null pointer exception on connection object we are using. But if we check the connection then whenever the connection is given from pool it first checks if its death then we will give another lif

[2020-05-04 11:33] kwoyke commented on #9054
@garkenbout-quintor, just wanted to let you know that we've added the appropriate note to the article. Again, thanks for the feedback!

[2020-05-04 11:33] #9054 closed

[2020-05-05 13:36] kwoyke commented on #8973
Hi @Med-All, just a quick ping. Would you be able to provide the additional information?

[2020-05-05 15:35] Med-All commented on #8973
@kwoyke I had the problem with the live application. Not sure because I have done it as SpringBoot2 but solved it by adding `@Transactional` annotation to the index builder code and search repository.

[2020-05-05 15:35] #8973 closed

[2020-05-05 17:13] amargJava opened #9248 "serviceId related issue"
https://github.com/eugenp/tutorials/blob/515095dbfbeb7c8597be0f5f8019b6b2e3c230c0/spring-cloud/spring-cloud-bootstrap/discovery/src/main/resources/bootstrap.properties#L2

When I have used spring.cloud.config.discovery.serviceId then the server did not find the Eureka server property value(eureka.client.serviceUrl.defaultZone) and tomcat became terminated.
So please help.

[2020-05-06 07:43] kwoyke commented on #9056
Hi @ammaralii,
We've updated the article and codes. We couldn't merge your PR directly. You use hardcoded "SELECT 1" query - that would fail on Oracle or DB2 databases for example. Instead we used a generic Connection#isValid(int) that delegates to the JDBC driver.
Again, thanks for your feedback.

[2020-05-06 07:43] #9056 closed

[2020-05-10 19:40] kwoyke commented on #9248
Hi @amargJava,
Can you please clarify if you make any other changes in the project? Does it work fine for you if you use  spring.cloud.config.uri?

[2020-05-10 20:18] kwoyke commented on #9164
Hi @ObiWanKaplan,
That's interesting.
Actually I wasn't able to run the full application due to some different problem (java.lang.IllegalArgumentException: Could not resolve placeholder 'encryption.active_key_label' in value "${encryption.active_key_label}")

Anyway, I see one potential problem in the uaa file you've attached. Below part is not properly formatted:
`   jwt:
  token:
    signing-key

[2020-05-13 15:24] ProvenirJHansen opened #9284 "Screen captures show "master" realm instead of "SpringBootKeycloak""
Thank you for the excellent tutorial!

https://www.baeldung.com/spring-boot-keycloak

Problem description: The tutorial doesn't explicitly say which realm to create the client, role, and user in. Since the screenshots for each of these steps actually shows "master", this may mislead the user into creating these items in the master realm instead of the SpringBootKeycloak realm.

Suggestion:
1. Upda

[2020-05-14 08:00] kwoyke commented on #9168
Hi @2chaines, just a quick ping here :)

[2020-05-14 08:36] kwoyke commented on #9284
Hi @ProvenirJHansen,
Thanks for the feedback. I've taken the opportunity and registered the internal task to upgrade the article to the latest versions of Keycloak and Spring Boot. We'll update the screenshots as well.
I'll keep this GitHub issue open and keep you updated.

[2020-05-14 16:51] JMcNamaraMediaMath opened #9292 "UUIDGenerator calculates uuidv3 and uuidv5 incorrectly."
I took a look at two UUID generators and compared to the output of the code provided.

Other generators:
https://github.com/cowtowncoder/java-uuid-generator/blob/master/src/main/java/com/fasterxml/uuid/impl/UUIDUtil.java#L233

https://www.uuidtools.com/generate/v3

For example, if I plug the letter "d" into the generators above with DNS namespace and UUIDv3 I get:
dbd41ecb-f466-33de-b309-1468addfc

[2020-05-24 12:55] lor6 commented on #7197
Quick recap:

- all the custom ContainerFactories in KafkaConsumerConfig.java set the broker connection using the kafka.bootstrapAddress property
- since this is a spring-boot project it also provides an auto-configuration that sets up a default ContainerFactory
- the defaults use the spring.kafka.* properties to customize how autoconfiguration works
- the listenToParition KafkaListener is not usi

[2020-05-24 12:55] #7197 closed

[2020-05-24 13:07] lor6 commented on #8955
Hi @GustaveNimant  The original article is available here: https://www.baeldung.com/kotlin-javascript For the issue, is that reproducible on our codebase?

[2020-05-24 13:09] lor6 commented on #9109
Hi @vijaysavitri7  The error suggests the credentials you've used don't have the right permissions in EC2 for the operation.

Is this an issue you've reproduced in one of the modules from this repository?

[2020-05-24 13:14] lor6 commented on #9292
Thanks @JMcNamaraMediaMath  I've logged an internal issue to look into this, and I'll provide an update once it's done.

[2020-05-28 14:05] rajivsatish opened #9386 "HTTP Status 404 - /spring-security-mvc-socket/WEB-INF/jsp/index.jsp"
Issue -1 : HTTP Status 404 - /spring-security-mvc-socket/WEB-INF/jsp/index.jsp
The requested resource is not available.

I have copied all code from the repository and set up in Eclipse Kepler IDE as they are present.

I ran the code with tomcat7 or tomcat8 but getting same response. I checked the logic also specially AppConfig.java...looks good to me. Also there is no error in the workspace and s

[2020-05-29 17:33] pavankjadda opened #9393 "When using multiple databases with Spring Data JPA, No bean named “ConfigurationClassPostProcessor.importRegistry” exception occurs"
In my spring boot(data) project, I am trying to set up and use multiple databases. I followed the tutorial from [here](https://www.baeldung.com/spring-data-jpa-multiple-databases). One database is MySql and other database is H2. I defined custom JPA configurations as [shown here][1]. During application startup I get the exception

**No bean named 'org.springframework.context.annotation.Configurati

[2020-05-29 18:42] rajivsatish commented on #9386
Above issue has been resolved. It had occured due to pom.xml not configured correctly.

But, Now none of the front end button as for example Send, ConnectSpecific, ConnectAll, SubscribeAll don't seem to work. Nothing happened upon clicking the button.

please advice!!!!

[2020-06-02 07:57] hpham04 opened #9417 "Unable to run sample ML app"
Run sample ML app, it shows error like below
Summary Mean:
[5.843333333333332,3.0540000000000003,3.7586666666666666,1.1986666666666668]
Summary Variance:
[0.6856935123042509,0.18800402684563744,3.113179418344516,0.5824143176733783]
Summary Non-zero:
[150.0,150.0,150.0,150.0]
Exception in thread "main" java.lang.IllegalArgumentException
	at org.apache.xbean.asm5.ClassReader.<init>(Unknown Source)

[2020-06-02 08:52] hpham04 commented on #9417
I just realized that this is because project was using Java 11
Switch to Java 8, it looks OK

[2020-06-03 01:47] pavankjadda commented on #9393
Solution documented [here](https://stackoverflow.com/a/62096231/9244861)

[2020-06-03 01:47] #9393 closed

[2020-06-03 03:15] #9417 closed

[2020-06-03 18:55] dacopan opened #9429 "Missing From header"
in Spring mail tutorial https://www.baeldung.com/spring-email you are missing put setFrom in mime message (SimpleMailMessage) without it many email server refused this email

[2020-06-04 18:57] kwoyke commented on #9164
Hi @ObiWanKaplan,
Please let us know if the problem really lied in the wrong formatting.

[2020-06-04 18:57] #9168 closed

[2020-06-04 18:58] kwoyke commented on #9248
Hi @amargJava,
Just a quick ping here :)

[2020-06-04 19:00] kwoyke commented on #9429
Hi @dacopan,
Thanks for the feedback. Indeed, many SMTP servers reject such emails. We'll update the article.

[2020-06-05 04:49] ObiWanKaplan commented on #9164
Thanks, @kwoyke
Actually, token is creating, but it can't be decoded, so I can't see it in browser - this problem I didn't solve. But I've created another app as a client and successfuly fetched this token using ScribeJava library.

[2020-06-05 05:51] amargJava commented on #9248
Hi @kwoyke,
Thanks for ping me and yes if I use spring.cloud.config.uri, its working fine.
But when I I use spring.cloud.config.discovery.serviceId then the server became stopped.

So do you have any solution for the same?

[2020-06-07 17:58] LamNguyenViet opened #9456 "Error when creating new entry?"
Hi, I'm trying your sample with spring-data-ldap. But when i create new User, it returns:
o.s.l.odm.core.impl.ObjectMetaData - The Entry class User should be declared final
and user isn't created.
In your method create i didn't make final for username and password
How can i fix that?
Thanks in advance.

[2020-06-08 01:54] #9456 closed

[2020-06-10 13:32] wattdave opened #9474 "`new CustomFilter()` in many places could be replaced with ApplicationContext.getBean"
I made a beginner mistake that cost me time, and I think your tutorials could help. I added @Autowired and other configuration annotations to a custom filter I was trying to write based on one of your security examples. I then tried to new it up to connect it, as you do in your example here: (https://github.com/eugenp/tutorials/blob/d94ead72497f28c6a75f517a5020185d325054ba/spring-security-modules/

[2020-06-12 05:05] saipavan9 opened #9485 "UsernamePasswordAuthenticationToken cannot be casted to CustomAuthenticationToken"
I have used the same codebase in the tutorial but still, I am facing this issue. I have only changed the UserRepository to my custom repository. All the code is same.

The error message is
[code]

[2020-06-15 14:19] markjfisher opened #9504 "RandomStringUnitTest.kt bug indexing into charPool and other notes"
The example of using a SecureRandom, and then bitwise manipulation into the index of the charPool has some subtle issues.

Class: tutorials/core-kotlin-modules/core-kotlin-strings/src/test/kotlin/com/baeldung/randomstring/RandomStringUnitTest.kt

The code:

        var randomString = (0..bytes.size - 1).map { i ->
            charPool.get((bytes[i] and 0xFF.toByte() and (charPool.size-1).toByte())

[2020-06-19 12:26] ShilpaVKulkarni opened #9522 "Updated Password policy will be changed to configurations added in uaa.yml file after restarting uaa tomcat."
Hi All,

I have used update identity provider api(https://docs.cloudfoundry.org/api/uaa/version/74.21.0/index.html#update) to update the password policy.
It worked for me. But if I restart my uaa tomcat then the password policy will be changed to configurations added in uaa.yml. Why the settings will change?Can anyone please provide solution for this?

Thanks & Regards
Shilpa Kulkarni

[2020-06-19 12:28] ShilpaVKulkarni opened #9523 "eye icon for password field"
Hi All,
I am using UAA war file in tomcat. I want to put eye icon for password field in reset_password.html  page, for this  I have added the java script code in the file to toggle the visibility of password. Eye icon is appearing  but the java script code is not working which is for toggle the visibility of password. I am not getting why the java script code is not working.. Can anyone please hel

[2020-06-21 20:47] jlorenzoC commented on #9523
Hi, did you correctly place your JavaScript? If you could try to do something else with the same placed script in the page, it would work?

[2020-06-22 08:35] heannig opened #9548 "Wrong e-mail regex"
https://github.com/eugenp/tutorials/blob/master/spring-boot-modules/spring-boot-mvc/src/main/java/com/baeldung/swagger2boot/model/User.java

`@Email(regexp=".@.\\..*", message = "Email should be valid")`
==>
`@Email(regexp=".*@.*\\..*", message = "Email should be valid")`

[2020-06-22 08:55] ShilpaVKulkarni commented on #9523
@jlorenzoC thank you for the reply.. Yes I tried with some other  code but that java script code also did not work. I tried the same code in separate html file then the code is working properly.. But the code is not working in this project.

Following is my code.

[code]

The same code is working fine in separate html file but the same code is not working with this project.. What might be the issu

[2020-06-22 09:14] kwoyke commented on #9429
@dacopan we've updated the article. Thanks!

[2020-06-22 09:14] #9429 closed

[2020-06-22 09:23] kwoyke commented on #9523
Hi @ShilpaVKulkarni, from what I see here you're having an issue with the code you've added to our example, right? Or am I missing something?
Here, on the GitHub issues workspace, we'd like to keep opened only the issues that actually relate to our code base.

[2020-06-22 11:02] ShilpaVKulkarni commented on #9523
yes @kwoyke you are correct. I am having an issue with code i have added..
I want to put eye icon for password feild to toggle the visibility of password.. How to achieve it?

[2020-06-23 15:35] DeepakLalchandani commented on #9523
Where is this article published in baeldung website

[2020-06-25 12:04] ShilpaVKulkarni opened #9578 "Passing the username in the mail content of reset password"
Hi All,
I am using UAA war file in tomcat. In the uaa tomcat in the templates\mail\reset_password.html file I have customized the content. But I want to pass username in the email content but not getting the username. Can anyone please help me in resolving the issue?

[2020-06-25 15:23] DeepakLalchandani commented on #9523
How did u resolve this issue ?

On Mon, 22 Jun 2020, 16:33 ShilpaVKulkarni, <notifications@github.com>
wrote:

[2020-06-25 16:30] vash68 opened #9581 "Is there a way to clone only a part of this repo?"
Is there a way to clone a part of this repo?
For example I am only interested in tutorials/jackson-modules/
Thank you

[2020-06-25 23:33] sprior opened #9583 "MultipartFileUploadClient makes no attempt to set the content type for the uploaded files"
com.baeldung.web.upload.client.MultipartFileUploadClient seems so useful until I realized that it doesn't show how to set the content type for the files created by getTestFile().  It would seem that in any real world use case that you'd have to do this, but only isn't this done, but the example code doesn't give any clue how you would do it.

[2020-06-28 19:40] lor6 commented on #9581
Hi @vash68  No, but you can clone the repo, and then only import the module you're interested in, in your IDE.

[2020-06-28 19:42] lor6 commented on #9292
The article https://www.baeldung.com/java-uuid and code are now updated.

[2020-06-28 19:42] #9292 closed

[2020-06-28 19:52] lor6 commented on #9474
Hi @wattdave It's difficult to tell what the issue was in your example; you may have been trying to auto-wire some properties in the custom filter class, but the class itself wasn't registered as a bean or scanned.

Your suggestion is valid, but it's an uncommon approach. I suggest having a look at component scanning: https://www.baeldung.com/spring-component-scanning and bean annotations: https:/

[2020-06-28 19:52] #9474 closed

[2020-06-28 19:54] lor6 commented on #9485
Hi @saipavan9  Which tutorial are you referring to?

[2020-06-28 20:01] lor6 commented on #9522
@ShilpaVKulkarni  Most likely this is the intended behavior, as the uaa.yml file is read again on starting the server. So you'll have to change the value there so that it's permanent.
But if this is not an issue with one of our tutorials, please raise this with the UAA project: https://github.com/cloudfoundry/uaa

Cheers.

[2020-06-28 20:01] #9522 closed

[2020-06-30 02:21] saipavan9 commented on #9485
I am referring to spring-security-modules/spring-security-mvc-boot-2 code base.

[2020-07-03 09:15] praveenbommalibits opened #9635 "OIDC PKCE supported Java Client"
Hi,
Java Client which supports OIDC PKCE flow. Here it should support both generic authorisation url.

[2020-07-05 16:38] #9581 closed

[2020-07-07 09:27] karuppasamy20 opened #9658 "Kerberos validation not succesfull"
org.springframework.security.authentication.BadCredentialsException: Kerberos validation not succesfull

[2020-07-14 09:08] Lopner opened #9699 "Spring boot version 2.4.0 - ResourceBundle not found for MessageSource: Can't find bundle for base name..."
https://github.com/eugenp/tutorials/blob/301ec100f121cda3a5e2212d2c8cb62b7ac5c794/spring-mvc-basics-2/src/main/java/com/baeldung/spring/configuration/EmailConfiguration.java#L85

correct way -
[code]
instead
[code]

[2020-07-16 10:50] kwoyke commented on #9635
Hi @praveenbommalibits ,
Can you clarify what article this refers to and what's the actual issue here?

[2020-07-16 10:58] kwoyke commented on #9548
Hi @heannig,
Thanks for the feedback! We'll update the code and the article.

[2020-07-16 11:04] kwoyke commented on #9523
I'm closing this one as it's not directly related with any particular issue in our codebase.

[2020-07-16 11:04] #9523 closed

[2020-07-16 13:17] praveenbommalibits commented on #9635
tutorials/spring-5-security-oauth/ , Actually I'm exploring to do  native application support where we have to  follow Authorization code flow + PKCE.  As I Verified the code, seems  like not supporting

[2020-07-19 15:45] aktion-hip opened #9730 "open-liberty with JPA does not work"
I have the impression that the _open-liberty_ tutorial with persistence does not work correctly.
In the pom.xml, the _maven-dependency-plugin_ copies the derby.jar into the _shared/resources_ folder: `<outputDirectory>${project.build.directory}/liberty/wlp/usr/shared/resources/</outputDirectory>`.
However, _mvn liberty:dev_ deletes this folder and, therefore, the liberty server can't find the reso

[2020-07-21 08:15] PraveenBiradar opened #9735 "The method authorizationRequestResolver(CustomAuthorizationRequestResolver) is undefined for the type OAuth2LoginConfigurer<HttpSecurity>.AuthorizationEndpointConfig"
source code path : https://github.com/eugenp/tutorials/blob/master/spring-5-security-oauth/src/main/java/com/baeldung/oauth2/CustomRequestSecurityConfig.java

line no : 47

oauth2 maven dependencies:
https://mvnrepository.com/artifact/org.springframework.security.oauth.boot/spring-security-oauth2-autoconfigure/2.3.1.RELEASE
https://mvnrepository.com/artifact/org.springframework.security/spring-sec

[2020-07-22 10:44] janecd opened #9751 "Token Id missing for Oauth2 Authorization"
I encountered an issue of token missing error when following the guide **A Quick Guide To Using Cloud Foundry UAA**  and demo code,  after I input the username and secret, select authorities and click Authorize button, then this error pop out. Is there any details I missed , can you please help point it out?
![image](https://user-images.githubusercontent.com/2704619/88167352-41656900-cc4b-11ea-980

[2020-07-22 14:51] lor6 commented on #9284
The post and screenshots have been updated.

[2020-07-22 14:51] #9284 closed

[2020-07-22 15:17] ProvenirJHansen commented on #9284
Looks great! Much appreciated!

[2020-07-24 15:11] UbaidurRehman1 opened #9761 "getErrorPath() method in org.springframework.boot.web.servlet.error.ErrorController interface has been depreciated in Spring Boot 2.3.1"
- Please Update this file ```spring-boot-modules/spring-boot-basic-customization/src/main/java/com/baeldung/errorhandling/controllers/MyErrorController.java``` as getErrorPath() has been deprecated in the favor of ```server.error.path``` in Spring Boot 2.3.1

[2020-07-25 07:38] flyaruu opened #9764 "NPE when generating code in the 'jooq-with-spring' tutorial"
This article: https://www.baeldung.com/jooq-with-spring
When following the tutorial I ran into a pretty obtuse NPE, which was hard to troubleshoot, and I hope to prevent other people from having to do this.

I resolved this issue by adding a 'database' block to the generator block like this:
[code]
Full stack trace:
[code]

[2020-07-25 08:42] samanth1293 opened #9765 "Getting stack over flow error"
In  my pojo class looks like

package com.dbs.pojo;

import java.io.Serializable;
import java.util.Date;
import java.util.List;

import javax.persistence.CascadeType;
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.FetchType;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persist

[2020-07-25 22:06] TechComet opened #9769 "code not work some website"
I tested code for
https://hcaptcha.com/siteverify

but not work

Tutorial:
https://www.baeldung.com/httpurlconnection-post

[2020-07-27 20:28] kwoyke commented on #9761
Hi @UbaidurRehman1,
Thanks for the feedback.
As for now, the spring-boot-basic-customization is based on the Spring Boot 2.2.6 version. We'll update the article after we upgrade the Spring Boot version used.

[2020-07-27 20:28] #9761 closed

[2020-07-27 20:30] kwoyke commented on #9765
Hi @samanth1293,
Are you facing any issue with one of our articles?

[2020-07-27 20:34] kwoyke commented on #9769
Hi @TechComet,
Can you clarify what particular issue you're facing with this article?

[2020-07-28 12:42] TechComet commented on #9769
I try this
URL url = new URL ("https://reqres.in/api/users");
It's work
but
URL url = new URL ("https://hcaptcha.com/siteverify");
not show message error or verify complete

https://docs.hcaptcha.com

[2020-07-28 12:53] kwoyke commented on #9769
I'm not sure what's the issue you're facing. But I doubt it's a problem with our article, i.e. you say it works with the https://reqres.in/api/users address that we use in the article.
Anyway, you should rather try to find an answer on sites like StackOverflow.

[2020-07-28 12:53] #9769 closed

[2020-07-30 17:51] cpatil7 opened #9796 "Spring boot 2.0.0 with Mongo Java Driver 3.4.2"
Hello Team,
Need input how to auto create Index with spring boot application connecting with Azure Cosmos DB(Mongo API).
Application Details
1.	Below are dependencies defined
buildscript {
    ext {
        springBootVersion = '2.0.0.RELEASE'
    }
    dependencies {
        classpath("org.springframework.boot:spring-boot-gradle-plugin:${springBootVersion}")
    }
}
implementation 'org.springframe

[2020-08-02 08:28] acyuta1 opened #9810 "Event listener with jrjc?"
Hello,
I wanted to ask, is there any way we can integrate an event listener with jrjc? So that when a new issue is created in jira, it's logged/printed in application?

Please help.
Thankyou!

[2020-08-03 10:48] alonsoir opened #9813 "Getting this exception when running tests"
[com.netflix.zuul.exception.ZuulException: 429](https://pastebin.com/gugfvQpQ)

I m not sure that if it is the normal behavior, because, mvn test phase ends successfully, but not sure at all.
install phase ends successfully too.

$ java -version
openjdk version "1.8.0_242"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_242-b08)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.242-b08, mixe

[2020-08-03 13:29] #9765 closed

[2020-08-03 13:52] kwoyke commented on #9813
Hi @alonsoir,

This exception is thrown by GreetingControllerUnitTest#whenRequestExceedingCapacity_thenReturnTooManyRequestsResponse test case. It verifies that 429 error code is returned when the rate limit is exceeded (one request per 2 sec in our case).
So yeah the exception looks OK.

[2020-08-03 13:52] #9813 closed

[2020-08-04 06:31] snowman opened #9817 "Errata of article `Introduction to Project Lombok`"
According to page https://www.baeldung.com/intro-to-project-lombok#lazygetter, the page **code** also needs to be modified according to what article say.

[code]

https://github.com/eugenp/tutorials/blob/8b5a19ebec8979ae440e1284753e11255b32afe9/lombok/src/main/java/com/baeldung/lombok/intro/GetterLazy.java#L11-L36

Line 16 should be declared `private Map<String, Long> readTxnsFromFile() {`

Line 1

[2020-08-05 18:46] swayamraina opened #9829 "HelloServiceImplBase : file does not exists in gRPC article"
The article mentions this but `HelloServiceImplBase` is not generated. It is also not present in the project.

link: https://www.baeldung.com/grpc-introduction

[2020-08-06 07:07] kwoyke commented on #9817
Hi @snowman,

Thanks for the feedback. We'll align the code with the article 👍

[2020-08-06 07:21] kwoyke commented on #9764
Hi @flyaruu,

Thanks for the feedback! We'll take a look into this.

[2020-08-06 08:02] #9109 closed

[2020-08-06 10:42] kwoyke commented on #9699
Hi @Lopner,

I've just verified our codes and everything works as expected, i.e. the mailMessages properties are correctly retrieved.
Can you please clarify how to reproduce the issue? Does it occur when you use our samples with Spring Boot 2.4.x?

[2020-08-06 12:40] kwoyke commented on #9817
We updated the article.

[2020-08-06 12:40] #9817 closed

[2020-08-06 12:47] rcooper85 commented on #8923
Hi @salvag-ntt I was able to generate my pact json file by removing the `@Ignore` tag in the test. I then executed the `mvn test` command and it worked. It seems that the test has to execute for the file to be generated. I hope this helps. :)

[2020-08-07 21:06] kwoyke commented on #9829
Hi @swayamraina,

How do you try to generate the classes - with Protocol Buffer Compiler or using the Maven plugin?

[2020-08-08 03:43] WHK102 opened #9835 "Deprecated función"
In `src/main/java/com/baeldung/errorhandling/controllers/MyErrorController.java` have a deprecatd function:

[code]

[2020-08-08 08:40] swayamraina commented on #9829
@kwoyke I am using the protobuf compiler

The article mentions,

While in [this SO](https://stackoverflow.com/questions/31029675/protoc-not-generating-service-stub-files/31031346#31031346) post I found out we also need to add `--plugin=protoc-gen-grpc-java=path/to/protoc-gen-grpc-java`

[2020-08-08 19:53] kwoyke commented on #9829
Yes @swayamraina, if you use protobuf compiler you need to use protoc-gen-grpc-java plugin as well. The maven configuration works fine though.
Anyway, soon we'll update the article!

[2020-08-08 19:53] #9829 closed

[2020-08-08 19:56] kwoyke commented on #9835
Hi @WHK102 ,
Yes since 2.3.x version of Spring Boot this method has been deprecated. Our article here https://www.baeldung.com/spring-boot-custom-error-page mentions this explicitly.

[2020-08-08 19:56] #9835 closed

[2020-08-10 10:37] ahmadsayeed3 opened #9844 "It's not fair. Just to download a Jenkins plugin I need to download everything."

[2020-08-11 14:08] mailniranjan opened #9848 "Correct spelling mistake"
https://github.com/eugenp/tutorials/tree/master/spring-kafka

In KafkaApplication class, system out println uses misspelled received and message in some places. Yeah i know this is a very small issue. But when searching for messages, using keyword "received" or "message", people who are new to kafka like me will miss some stuff.

[2020-08-11 20:32] kwoyke commented on #9844
Hi @ahmadsayeed3,
Well.. life's not fair ¯\_(ツ)_/¯
Now, seriously, do you want to raise any particular issue with any of our articles?

[2020-08-12 02:09] ahmadsayeed3 commented on #9844
Thanks @kwoyke your Jenkins plugin example helped me a lot.

I belong to a village where internet is costly and slow. But yeah I downloaded everything and it worked. 😊

[2020-08-12 02:10] ahmadsayeed3 commented on #9844
I don't have any qu

[2020-08-12 02:10] #9844 closed

[2020-08-12 02:11] ahmadsayeed3 commented on #9844
Closing the issue.

[2020-08-12 18:46] charlesritchea opened #9860 "Custom Scope Tutorial doesn't explain lifetime"
In Dagger2, there is the concept of a Subcomponent that would be like if a Spring DI Application had an inner class application whose lifetime was only as long as the method it was created in.
From all descriptions, this sounds like what a custom`@Scope` would be used for, but your tutorial only shows how to create a Scope and use it for injection, but not how to limit the lifetime. How is your "t

[2020-08-13 20:12] kwoyke commented on #9848
Hi @mailniranjan,
We've fixed the code and update the article.
Thanks for the heads-up!

[2020-08-13 20:13] #9848 closed

[2020-08-17 06:31] sampada07 commented on #8361
This is now fixed along with Spring version upgrade.

Please refer to the PR #9871 referenced above.

Cheers!

[2020-08-17 06:32] #8361 closed

[2020-08-17 10:33] kwoyke commented on #8923
Hi @salvag-ntt ,
We updated the code, fixed the test and unignored it. Currently the pact json file is generated properly.

[2020-08-17 10:33] #8923 closed

[2020-08-17 10:48] kwoyke commented on #8955
Hi @GustaveNimant,
Can you please clarify whether the issue occurs on our codebase as well - https://www.baeldung.com/kotlin-javascript?

[2020-08-17 10:48] #9164 closed

[2020-08-17 10:52] kwoyke commented on #9485
Hi @saipavan9,
Can you please clarify which article you're referring to?

[2020-08-17 11:02] kwoyke commented on #9504
Hi @markjfisher,
Thanks for the detailed feedback. We logged the internal ticket to take a deeper look into this.
I'll follow up here.

[2020-08-17 11:03] kwoyke commented on #9578
Hi @ShilpaVKulkarni,

Which article you're referring to?

[2020-08-17 12:27] kwoyke commented on #9764
Hi @flyaruu,
Can you please clarify how to reproduce the issue?
On the current codebase both, mvn clean install and mvn clean generate-sources, work fine and generate the source files without any problems.

[2020-08-17 12:38] giuseppe-salvatore commented on #8923
Of course... didn't see the test was ignored. I should have seen that coming with a test not running.
Thanks

[2020-08-17 13:04] UltraBurstXD opened #9886 "Filter search with FileVisitor"
Hi.
How can I search for a file with FileVisitor API, using filters? Like **start name** of a file and it's **end name** (or extension).

[2020-08-18 08:30] kwoyke commented on #9886
Hi @UltraBurstXD,
Can you please clarify which article you're referring to?

[2020-08-18 08:32] kwoyke commented on #9796
Hi @cpatil7,
Are you facing any issue with one of our articles and/or its codebase?

[2020-08-18 08:35] kwoyke commented on #9730
Hi @aktion-hip,
Sorry to hear you're having troubles with this.
Can you please clarify which article you're referring to? Also, any tips on how to reproduce the issue and/or the error logs are welcome.

[2020-08-18 08:36] kwoyke commented on #9658
Hi @karuppasamy20,
Can you please clarify which article you're referring to?
Also, any more details on how to reproduce the issue are welcome.

[2020-08-18 08:43] kwoyke commented on #9810
Hi @acyuta1,
I'm not sure if you're referring to any of our article.
Anyway, these kinds of questions are better to be asked on sites like stackoverflow.com or community.atlassian.com.
Here, we want to keep only the issues related to our codebase.

[2020-08-18 08:43] #9810 closed

[2020-08-18 12:32] UltraBurstXD commented on #9886
core-java-nio: FileSearchExample.java
https://www.baeldung.com/java-nio2-file-visitor

[2020-08-18 21:35] aktion-hip commented on #9730
Sorry for being not precise enough.
It's the "Introduction to Open Liberty" (https://www.baeldung.com/java-open-liberty).
On line _87_ of your _pom.xml_ (https://github.com/eugenp/tutorials/blob/master/open-liberty/pom.xml) you copy the downloaded derby-dependency to _/liberty/wlp/usr/shared/resources/_.
However, when I started the liberty server, the directories under _/liberty/wlp/usr/_ are clea

[2020-08-19 06:52] kwoyke commented on #9548
Hey @heannig,
We've updated the article.

[2020-08-19 06:52] #9548 closed

[2020-08-19 06:54] kwoyke commented on #9730
Thanks for clarifying this. We'll take a look into this and follow up here.

[2020-08-25 10:20] aktion-hip commented on #9730
@kwoyke
As workaround I've copied the driver file in a directory at _/src/main/liberty/config/_. The _pom.xml_ looks like:
`<outputDirectory>${project.basedir}/src/main/liberty/config/jpa/</outputDirectory>`
The server.xml then has the following configuration:
`<library id="postgresqlLib">
	<file name="${server.config.dir}/jpa/postgresql-42.2.6.jar" />
</library>`

[2020-08-27 03:53] sumanthsumu1418 opened #9928 "Tutorial 1"

[2020-08-27 08:30] kwoyke commented on #9730
@aktion-hip we've updated the module and solved this issue with the copyDependencies feature recently introduced in the plugin. Hope this helps :)

[2020-08-27 08:30] #9730 closed

[2020-08-27 08:30] #9928 closed

[2020-08-29 09:13] nimitsis opened #9939 "Example for Immutable objects"
Hi I recently read the examples created for immutability. In the tutorials/core-java-modules/core-java-lang-oop-patterns/src/main/java/com/baeldung/immutableobjects/ the classes that are used to explain immutability are Currency and Money. However in the corresponding immutability tests tutorials/core-java-modules/core-java-lang-oop-patterns/src/test/java/com/baeldung/immutableobjects/ there are e

[2020-08-29 14:20] DeepakLalchandani commented on #9939
Hi Eugenp/Tutorials,
   I had raised the same issue  very back earlier
But baeldung told it's not required ??

Regards,
Deepak

On Sat, 29 Aug 2020, 2:44 pm nimitsis, <notifications@github.com> wrote:

[2020-09-01 11:47] DeepakLalchandani opened #9962 "University Example :: Java Source Code"
Hi,
    I am looking for a working  Java Source Code for the
University Example in the below link

https://www.baeldung.com/java-composition-aggregation-association

Please update the github link once completed and notify me.

Please help

[2020-09-02 18:50] DeepakLalchandani commented on #9939
Any updates on this?

On Sat, 29 Aug 2020, 7:50 pm Deepak A L, <deepakl.2000@gmail.com> wrote:

[2020-09-04 07:53] nimitsis commented on #9939
Hi,
Ok, thank you for the feedback.

[2020-09-04 07:53] #9939 closed

[2020-09-04 07:56] DeepakLalchandani commented on #9939
Nimitsis , Can you upload the working Java code solution for Currency and Money

[2020-09-04 13:42] DeepakLalchandani commented on #9939
Nimitsis , Can you upload the working Java code solution for Currency and Money

[2020-09-08 20:15] kwoyke commented on #9962
Hi @DeepakLalchandani,
Is that what you're looking for - https://github.com/eugenp/tutorials/blob/master/core-java-modules/core-java-lang-oop-patterns/src/main/java/com/baeldung/relationships/university/University.java?

[2020-09-08 20:18] kwoyke commented on #9764
@flyaruu I just noticed you were using a different version of jooq-codegen-maven - 3.13.3. This might have caused the problem you mentioned.
Anyway, we updated the versions used in the article and double checked that the code generates fine.
I'm closing this one.

[2020-09-08 20:18] #9764 closed

[2020-09-08 20:19] #9796 closed

[2020-09-09 08:48] DeepakLalchandani commented on #9962
Where is the working Java code for it with public static void main method ??

[2020-09-09 08:52] DeepakLalchandani commented on #9962
Hi,
    I have updated the issue.
Check and revert back

Regards,
Deepak

On Wed, 9 Sep 2020, 1:45 am kwoyke, <notifications@github.com> wrote:

[2020-09-09 09:08] kwoyke commented on #9962
The code is fine. Not every Java class needs a main method. Nothing to update here.

[2020-09-09 09:08] #9962 closed

[2020-09-09 09:37] DeepakLalchandani commented on #9962
How will I execute the University class without main method ?
This speaks no sense .

How will I see how the code works or not ? How will I even see how the code runs ?

I think you don't even know the basics of java.

It is illogical of you to reply like that ..
You can enroll in a basics course and then reply to me

You have just created dummy classes and arguing it is working ? Utter Nonsense..

[2020-09-15 14:31] UdoW opened #10037 "Shadow JAR Gradle plugin version out-dated"
The tutorial on how to build a FAT jar with gradle is out-dated.

Just add this on top of your build.gradle file if you want to use the Shadow JAR plugin:

[code]

[2020-09-16 15:15] lewisMachilika commented on #6587
same problem

[2020-09-17 09:24] perezdf opened #10045 "Make the mail server configurable"
These properties must be configurable

     `   JavaMailSenderImpl mailSender = new JavaMailSenderImpl();
        mailSender.setHost("smtp.gmail.com");
        mailSender.setPort(587);
        mailSender.setProtocol("smtp");`

[2020-09-17 11:27] kwoyke commented on #10037
Hi @UdoW,
Thanks for the feedback. We'll put this one on our TODO list.

[2020-09-17 11:32] kwoyke commented on #10045
Hi @perezdf ,
Which article are you referring to?

[2020-09-20 17:29] rubinavohra opened #10059 "Test Cases for java mail sender api"
Hi,

Do you happen to have test classes written for spring-mvc-basics-2/src/main/java/com/baeldung/spring/mail/EmailServiceImpl.java  ??

[2020-09-21 01:42] martian1431 commented on #9962
This is the first time I comment on github, I must say this human is rude. What's the point of learning programming if you can't test nor compile a simple class?

[2020-09-21 08:29] DeepakLalchandani commented on #9962
Hi,
    Think before calling me rude. I just raised this issue because the University class has no use cases.

1. How will University class be associated to professor,departments.? If you know java, you should know that it should cover the testing scenarios which I hardly see here. Hope this makes sense.

2. Since you have understood the complete problem  . Do update that tutorial with the working

[2020-09-21 12:53] DeepakLalchandani commented on #9962
Hi,

     My intention is not being rude

I just raised this issue because the University class has no use cases.

   1.

   How will University class be associated to professor,departments.? If
   you know java, you should know that it should cover the testing scenarios
   which I hardly see here. Hope this makes sense.
   2.

   Since you have understood the complete problem . Do update that tut

[2020-09-21 12:56] tushargoel86 opened #10063 "Getting exception java.util.concurrent.RejectedExecutionException"
Getting exception when callig PriorityBlockingQueue Example as per article https://www.baeldung.com/java-priority-job-schedule
'
Exception in thread "pool-2-thread-1" java.util.concurrent.RejectedExecutionException: Task scheduler.Job@1789e283 rejected from java.util.concurrent.ThreadPoolExecutor@194e1e02[Terminated, pool size = 0, active threads = 0, queued tasks = 0, completed tasks = 0]
	at jav

[2020-09-26 16:52] tushargoel86 commented on #10063
I figured it out. I was calling shutdown immediately after adding a job. I have added sleep time after the job addition and before calling shutdown.

[2020-09-26 16:52] #10063 closed

[2020-09-26 22:04] lingocoder opened #10094 "Do I have to download the entire repository just to get one single tutorial?"
I just want to download one single tutorial. But I could not find an obvious and straightforward way to do that.

The only way I could think of was to copy/paste one file at a time from a given tutorial. That's even worse than downloading the entire repository, frankly.

Thanks in advance.

[2020-09-30 16:36] lor6 commented on #10094
Hi @lingocoder Yes, if you want to try the code, you have to clone the repository. You can then import the project you're interested in in your IDE.

[2020-09-30 16:36] #10094 closed

[2020-09-30 16:43] lor6 commented on #10059
Hi @rubinavohra No, the methods are only called from the controller: https://github.com/eugenp/tutorials/blob/master/spring-mvc-basics-2/src/main/java/com/baeldung/spring/controller/MailController.java

[2020-09-30 16:43] #10059 closed

[2020-10-01 05:45] BartStoebel opened #10114 "Readiness/liveness endpoints not working as expected in newer version"
Project spring-boot-actuator: from version 2.3.2-RELEASE onwards:
**deprecated**:
management.health.probes.enabled=true

**Replaced by + necessary extra properties:**
management.endpoint.health.probes.enabled=true
management.health.livenessState.enabled=true
management.health.readinessState.enabled=true

[https://github.com/spring-projects/spring-boot/issues/22107]

[2020-10-01 12:27] alexisaraya opened #10116 "Error build spring-boot-mvc-birt"
Error build spring-boot-mvc-birt

i tried build and running

`SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/C:/Users/u1309090/.m2/repository/org/apache/logging/log4j/log4j-slf4j-impl/2.13.3/log4j-slf4j-impl-2.13.3.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/C:/Users/u1309090/.m2/repository/com/innoventsolutions/birt/runt

[2020-10-02 05:39] lor6 commented on #9063
@rohadira The code and article are updated: https://www.baeldung.com/spring-date-parameters#convert-date-parameters-at-the-application-level You can see the code changes here: https://github.com/eugenp/tutorials/pull/10102/files

[2020-10-02 05:39] #9063 closed

[2020-10-03 05:44] Dushantsingh opened #10123 "How to use delayed message feature of rabbitMq with spring-cloud-rabbit-binder ?"

[2020-10-05 06:08] rajputvishwas commented on #10116
Hi @alexisaraya,
Which spring boot version are you using?

[2020-10-07 05:48] patpatpat123 opened #10136 "Spring Webflux and Spring Security and X509Certificate tutorial"
Hello Baeldung,

First message in this repo, a very big thanks for the website and the tutorial series.

I would like to ask if it is possible to have a tutorial/example of Spring Webflux, combined with Spring Security, and particularly  the X509 certificate verification part.

Tutorials on Spring Webflux are very clear.
Tutorials on Spring Security (non-Webflux) and X509 certificate auth are also

[2020-10-14 09:51] cvielma opened #10161 "No 2 constructors in Java 11"
Hey guys, just FWI in Java 11 there's no Synthetic constructor generated in this example:

https://github.com/eugenp/tutorials/blob/71b6c96a47c0104cfe47a8b8675982f28dfc39b2/core-java-modules/core-java-lang/src/main/java/com/baeldung/synthetic/SyntheticConstructorDemo.java#L9

Here's more info about it: https://product.hubspot.com/blog/java-11-dont-rely-on-generated-serialversionuid

Just in case y

[2020-10-14 18:08] TheTechOddBug opened #10164 "#question Using multiple datasources in spring boot with multiple environments."
Hi @eugenp . As you mention in the [article](https://www.baeldung.com/spring-data-jpa-multiple-databases), you indicate that to use spring boot default configuration, persistence-multiple-db-boot.properties file should be use. If you have differente environments (dev, pre, pro), is it allowed and the right way to do it using persistence-multiple-db-boot-dev.properties and so on? Should be possible

[2020-10-14 21:18] JohnSeals opened #10165 "Tests MongoDbSpringIntegrationTest don't seem to work"
Hey everyone!

Thanks for posting all these great examples! :-)

I'm trying to run the MongoDB integration tests like MongoDbSpringIntegrationTest. However no matter what I try MongoTemplate is always null.

Using Spring 2.3.4.RELEASE and flapdoodle 2.2.0.

Any ideas?

Thanks again!

[2020-10-17 13:25] #10116 closed

[2020-10-17 13:26] lor6 commented on #10116
Hi @alexisaraya I've added a fix for this issue. Please update your local repository and try again.

Thanks.

[2020-10-17 13:27] lor6 commented on #10165
Hi @JohnSeals I wasn't able to reproduce the issue on the spring-boot-persistence-mongob project here: https://github.com/eugenp/tutorials/tree/master/persistence-modules/spring-boot-persistence-mongodb The integration tests are passing successfully.

Is this an issue you're having with our code or your custom example?

Thanks.

[2020-10-19 16:12] lor6 commented on #10164
Hi @TheTechOddBug In the example from this article, we're using a custom properties file which is loaded using:
@PropertySource({"classpath:persistence-multiple-db-boot.properties"})

Yes, you can also use the default application-{profile}.properties files in Spring Boot. The only reason to use a custom properties file is if you want to segregate your properties in different files based on their i

[2020-10-19 16:21] lor6 commented on #10136
Hi @patpatpat123 Thanks for the suggestion, we'll add this to our to-do list, though it may take a while until it's out.

We do have an article on Spring Security for reactive applications: https://www.baeldung.com/spring-security-5-reactive though not with X509 authentication.

Please use the email: team@baeldung.com or the Contact form on the site: https://www.baeldung.com/contact for any questi

[2020-10-19 16:21] #10136 closed

[2020-10-20 09:36] lor6 commented on #9699
@Lopner  I've updated the code in this configuration.

Thanks.

[2020-10-20 09:36] #9699 closed

[2020-10-20 09:40] lor6 commented on #8208
@tejagaridepally  Note the code has been moved to https://github.com/eugenp/tutorials/tree/master/spring-security-modules/spring-security-legacy-oidc as it's using the legacy OAuth stack.

I wasn't able to reproduce the issue in our code, so this is likely an issue in your configuration, either in the application or at the OIDC provider side. If you can create a PR that will reproduce the issue, w

[2020-10-20 09:40] #8208 closed

[2020-10-20 09:44] lor6 commented on #9578
Hi @ShilpaVKulkarni If you find an issue in this repository, please specify the module you're running, or open a PR that reproduces the issue. We can't help with your custom code.

[2020-10-20 09:44] #9578 closed

[2020-10-20 10:19] lor6 commented on #9386
@rajivsatish I can't reproduce your issues in our code. The behavior should be as described in the supporting tutorial: https://www.baeldung.com/spring-websockets-send-message-to-user You should see the messages displayed in the browser Console. Note that this article is focused on sending a message to a user.

For a full chat example, have a look at: https://www.baeldung.com/websockets-spring

[2020-10-20 10:19] #9386 closed

[2020-10-20 10:27] lor6 commented on #9248
@amargJava  Have you set the property: spring.cloud.config.discovery.enabled=true as well? You have to add these properties to a bootstrap.properties file if you want to use this approach, as described in the documentation: https://cloud.spring.io/spring-cloud-config/multi/multi__spring_cloud_config_client.html#discovery-first-bootstrap and exemplified in this section: https://www.baeldung.com/spr

[2020-10-20 13:16] lor6 commented on #8397
I've updated the article based on the feedback above: https://www.baeldung.com/jpa-one-to-one

[2020-10-20 13:16] #8397 closed

[2020-10-20 16:46] patpatpat123 commented on #10136
Understood @lor6 . Many thanks and good day!

[2020-10-21 11:34] lor6 commented on #9485
@saipavan9  I can't tell which tutorial you're referring to, as there's no CustomAuthenticationToken in the spring-security-web-boot-2 project (renamed from spring-security-mvc-boot-2). If this is referring to the "Multiple Authentication Providers" article: https://www.baeldung.com/spring-security-multiple-auth-providers - I checked the code and it's working as expected.

Please clarify the steps

[2020-10-21 11:34] #9485 closed

[2020-10-21 11:36] lor6 commented on #9635
The spring-5-security-oauth project doesn't currently include support for PKCE. We'll add this to our to-do list for a future article.

[2020-10-21 11:36] #9635 closed

[2020-10-21 11:54] lor6 commented on #9735
Hi @PraveenBiradar I'm not able to reproduce the issue on our codebase. The method resolves correctly, as it's defined in the OAuth2LoginConfigurer.AuthorizationEndpointConfig class as shown here: https://docs.spring.io/spring-security/site/docs/current/api/org/springframework/security/config/annotation/web/configurers/oauth2/client/OAuth2LoginConfigurer.AuthorizationEndpointConfig.html#authorizat

[2020-10-21 13:24] somera opened #10190 "Which JDK can be used to build all projects?"
Hi,

I'm using AdoptJDK 11.0.8+10. And

`mvn clean install -Pdefault-first,default-second,default-heavy`

isn't working.

Should it works?

[2020-10-21 14:16] lor6 commented on #9751
Hi @janecd  I can't reproduce the issue on our codebase, so I suggest making sure you followed all the steps in the tutorial. The error message suggests that either the openid scope is not configured for the client defined in the UAA server, or the openid permission was not granted by the user when logging in.

[2020-10-21 14:39] lor6 commented on #9886
Hi @UltraBurstXD The filter logic is added in the visitFile() method: https://www.baeldung.com/java-nio2-file-visitor#3-the-visitfile-api In our example this is checking if the file name matches a String; you can adapt this to any condition you want, like whether the file name starts with a String, or checking the attributes from the BasicFileAttributes object.

[2020-10-21 14:39] #9886 closed

[2020-10-21 14:45] lor6 commented on #10045
I could only find an example of this in the EmailConfiguration class here: https://github.com/eugenp/tutorials/blob/master/spring-mvc-basics-2/src/main/java/com/baeldung/spring/configuration/EmailConfiguration.java and the properties are now configurable.

@perezdf  Please re-open this if you were referring to a different class.

[2020-10-21 14:45] #10045 closed

[2020-10-21 14:46] lor6 commented on #10190
@somera The default Java version used in 8, we haven't tested the projects with JDK 11. What issue are you having?

[2020-10-21 14:56] somera commented on #10190
Thx,

[code]

This is the current master:

[code]

[2020-10-22 11:47] lor6 commented on #10190
Thanks @somera The errors should be resolved now if you do another pull.

[2020-10-22 12:44] lor6 commented on #9583
Hi @sprior Please see section 5 in the associated article: https://www.baeldung.com/spring-rest-template-multipart-upload#uploading-a-single-file:

If you look at the controller endpoint where the file is uploaded, you'll see that the MultipartFile object contains information about the content type as well: https://github.com/eugenp/tutorials/blob/master/spring-resttemplate/src/main/java/com/baeld

[2020-10-22 12:44] #9583 closed

[2020-10-22 13:49] somera commented on #10190
@lor6 yes, This is fixed, but ...

[code]

[2020-10-23 05:33] #10114 closed

[2020-10-23 08:55] janecd commented on #9751
@lor6 thanks for your suggestion,  I wonder maybe it's mainly caused  by the difference  of UAA versions and configurations.

[2020-10-23 09:31] lor6 commented on #10190
Thanks @somera That looks like a locale issue; I'll check if the test can be updated so it's independent of the platform.

But I suggest not building the entire repository, as there are a lot of modules, and only focusing on the ones you're interested in.

[2020-10-23 11:30] somera commented on #10190
@lor6 thx for feedback. I close now this issue.

[2020-10-23 11:30] #10190 closed

[2020-10-23 19:53] ellenspertus opened #10196 "No search results displayed (javafx tutorial)"
I ran the javafx tutorial in Eclipse on Windows 10 with JDK 15.0.1 and the JavaFX 15 library. The search window shows up, but no results are ever displayed, including when I search for "Monica". I was able to verify that `masterData` has one value by adding a `println` statement:

![masterdata](https://user-images.githubusercontent.com/27104250/97046682-96579a80-152c-11eb-90f5-efa46d8f0834.png)

[2020-10-24 09:48] zorner opened #10197 "Examples with ClientHttpRequestInterceptor are not working."
I have been trying to follow [Spring RestTemplate Request/Response Logging](https://www.baeldung.com/spring-resttemplate-logging). But the ClientHttpRequestInterceptor never gets called.

I have a stackover question, [How to get ClientHttpRequestInterceptor working?](https://stackoverflow.com/questions/64511320/how-to-get-clienthttprequestinterceptor-working), on the same issue.

Your spring-restt

[2020-10-24 12:56] lor6 commented on #8955
Hi @GustaveNimant  This happens if the Kotlin version in the package.json doesn't match the one in the build.gradle file. Since the package.json is generated by nmp, you should then update the build.gradle file to match the versions.

I've upgraded the version in the code, and updated the original article: https://www.baeldung.com/kotlin-javascript

[2020-10-24 12:56] #8955 closed

[2020-10-26 03:03] psoares opened #10204 "Chat UI not working in spring-websockets example"
When following the instructions at the article https://www.baeldung.com/websockets-spring, a simple chat UI is supposed to appear at http://localhost:8080. Instead, an error page is displayed.

[2020-10-26 14:37] lor6 commented on #10196
Hi @ellenspertus I've added a fix for this; please update your local repository and try again.

Thanks.

[2020-10-28 11:40] swetabdas opened #10215 "Unknown failure: com.amazonaws.AmazonClientException: Unable to complete transfer: Can only mark at stream beginning"
I am working on the AWS Redshift. One of the client requirements was to upload the files into S3 and then to use COPY command for transferring files from S3 to Redshift. When file size is more than 16MB, it goes for S3 Multipart Upload Operation.

But the process fails giving error :

Unknown failure: com.amazonaws.AmazonClientException: Unable to complete transfer: Can only mark at stream beginni

[2020-10-28 15:40] lor6 commented on #10197
Hi @zorner I was looking over the stackoverflow question, and you mention that "There is no RestTemplate code, only a controller with a @RestController annotation. That with @RequestBody in the mapping methods, should be calling the RestTemplate".

This is incorrect. The controller methods have no connection to the RestTemplate. RestTemplate is a client that can be used to make calls to other REST

[2020-10-29 15:03] zorner commented on #10197
A person was nice enough to email me and point out, I had a misconception.

Somewhere I had picked up <strike>Spring used the `RestTemplate` for the auto decoding and encoding of POJOs in Rest controllers.</strike> That is incorrect.

Thus the Spring RestTemplate Interceptor, only works on the client side, or in test where the tests are acting as the client.

This person also, found the Spring Res

[2020-10-29 15:10] zorner commented on #10197
Loredana,

     Thanks, that explains what is happening. Thank you, for taking the
time to look at this. I thought I had read that Spring called the
RestTemplate internally for controllers and used the RestTemplate to do
auto decoding and encoding of POJOs. I must have been wrong.

     I had read some of https://www.baeldung.com/spring-http-logging, but
had missed section 5 on the filters. Thanks

[2020-10-29 15:16] lor6 commented on #10197
Hi @zorner Yes, I replied to your issue here, that's why you received an email notification from GitHub :)

The code is in the test folder because that's how it's used in the example. This is a common use of the RestTemplate class - to test the controllers defined in the same project. However, the approach for logging the RestTemplate requests/responses is valid whether you're using the class in a

[2020-10-29 17:07] zorner commented on #10197
Loredana,

     Yes, putting something in the article says this is a test example will
help. And yes the RestTemplate is often used in tests, but that is because
it is used to emulate the client. The distinction between server side and
client side is more important, then if it is used in a test. If someone is
looking for help logging Request/Response, they may not be thinking 'am I
on the server s

[2020-10-30 09:58] zorner commented on #10197
Strange 24 hrs  ago, only my initial comment was here. Now all the comments/emails are here.

[2020-10-30 10:39] lor6 commented on #10197
@zorner Sure, I'll add a note in the article about the example being used in a test.

Otherwise, I think it's clear what the use case is, as it's specifically referring to logging RestTemplate requests.

I'll close this issue.

Thanks.

[2020-10-30 10:39] #10197 closed

[2020-10-30 10:57] lor6 commented on #10215
Hi @swetabdas It sounds like a previous upload request failed or was interrupted, and now the process is stuck on a previous part and can't continue. I suggest looking into the documentation for aborting multipart uploads: https://docs.aws.amazon.com/cli/latest/reference/s3api/abort-multipart-upload.html This mentions that the abort operation may need to be called multiple times, so you could list

[2020-10-30 10:57] #10215 closed

[2020-11-02 13:32] dnlnegroni opened #10228 "@EnableOAuth2Client deprecated"
Is there some news about this project?
EnableOAuth2Client was deprecated...

[2020-11-02 15:11] lor6 commented on #10228
Hi @dnlnegroni

EnableOAuth2Client is part of the legacy Spring OAuth project. This is deprecated and replaced by the OAuth support in Spring Security 5.

Have a look at this tutorial for the new client support: https://www.baeldung.com/spring-security-5-oauth2-login

or the Spring documentation: https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2

[2020-11-02 15:26] lor6 commented on #10123
Hi @Dushantsingh If there is a problem in one of the modules of this repository, please clarify the module and the issue. For other general questions, please use a Q&A site like stackoverflow.

[2020-11-02 15:26] #10123 closed

[2020-11-03 09:51] RadekWroblewski-VL opened #10230 "Freemarker example doesn't load templates"
On Freemarker example the method sendMessageUsingFreemarkerTemplate calls
`freemarkerConfigurer.createConfiguration().getTemplate(...)`

Calling createConfiguration() means a new configuration is created with default template loader. Therefore it does not look for the templates in predefined resource directory. It should be getConfiguration().

[2020-11-07 08:09] TheTechOddBug commented on #10164
Only as information, the suggested solutions works but I wasn't able to have 2 datasources on this way because one of them is a Redshift and itt doesn't support hibernate_sequence and the application crash at startup.

[2020-11-07 22:17] sl3w opened #10241 "Additional parameter"
I add additional parameter in CustomOAuth2AuthorizationRequestResolver, but how and where I can get it after answer from OAuth?

[2020-11-09 16:28] lor6 commented on #10230
Thanks @RadekWroblewski-VL  I've updated the code snippet in: https://www.baeldung.com/spring-email-templates

The github source code was correct.

Cheers.

[2020-11-09 16:28] #10230 closed

[2020-11-09 16:36] lor6 commented on #10241
Hi @sl3w The additional parameter is added in the authorization request sent to the Authorization Server. This server is the one that can read and handle this parameter, but it's not required to return it in the response. That depends on the Authorization Server you're using and how its requests/responses are customized.

[2020-11-10 06:51] sl3w commented on #10241
@lor6 Ok, thank you. I solved it in the following way: after the answer from OAuth I take this parameter from the request and add it to the response :) I don't see other way

[2020-11-10 07:07] #10241 closed

[2020-11-10 20:08] JohnRDOrazio opened #10243 "how to append newline for each line in StreamGobbler"
https://github.com/eugenp/tutorials/blob/6bc18db7d32e53e008cc1a6af8241f62a4917e60/core-java-modules/core-java-os/src/test/java/com/baeldung/shell/JavaProcessUnitIntegrationTest.java#L24

Based on your tutorial https://www.baeldung.com/run-shell-command-in-java , I am implementing the StreamGobbler class both with `System.out::println` and with `JTextArea::append`. I find however that the text is a

[2020-11-11 07:41] JohnRDOrazio commented on #10243
Ok I think I got my answer:

[code]

[2020-11-11 07:41] #10243 closed

[2020-11-11 18:19] #10228 closed

[2020-11-11 18:20] lor6 commented on #10196
I'm closing this issue. Please re-open it if you still have any problems.

[2020-11-11 18:20] #10196 closed

[2020-11-17 02:21] ahmed-adly-khalil opened #10256 "spring-quartz start a job programmatically"
I have noticed that the code for spring-quartz uses auto configuration. Is there a sample to start it programmatically?
Thank you,

[2020-11-17 17:40] lor6 commented on #10161
Thanks for the feedback @cvielma Looks like the same applies to the synthetic methods.

At the moment, the code targets JDK 8, so I'll keep it, but I've added notes in the supporting article: https://www.baeldung.com/java-synthetic that mention these are no longer generated starting with JDK 11.

[2020-11-20 11:51] lor6 commented on #9504
Thanks @markjfisher  This is indeed simpler. I've changed the example to use charPool[random.nextInt(charPool.size)]

[2020-11-20 11:53] lor6 commented on #10165
Please re-open this if it's an issue in our repository with more details, or provide a PR that reproduces the issue.

[2020-11-20 11:53] #10165 closed

[2020-11-20 11:54] #9735 closed

[2020-11-20 12:44] lor6 commented on #7511
This is a valid issue; I've added a fix in the linked PR.

[2020-11-23 13:15] #9504 closed

[2020-11-23 13:17] #7511 closed

[2020-11-23 14:36] PiotrJander opened #10274 "The article "List Files in a Directory in Java" should mention `Files.list` method"
`Files.list` method is now the preferred way to list files in a directory in Java, so it is a shame that the article does not mention it.

Article link: https://www.baeldung.com/java-list-directory-files

[2020-11-29 12:09] MuditJ opened #10290 "No controller method for /index endpoint"
Tried running the code and I found that after adding form input to create new user, the controller method addUser() returns "redirect:/index" instead of "redirect:/". As a result, this gives a 404 error as there is no /index endpoint. There is another method which has this mistake.

[2020-12-01 07:19] blatobi opened #10296 "Wrong documentation regarding "@EnableWebFlux" in Tutorial "Spring Webflux and CORS""
The [spring-webflux-cors](https://www.baeldung.com/spring-webflux-cors)-tutorial states in part 3:

This is in my opinion wrong, because as stated by [Spring](https://docs.spring.io/spring-boot/docs/current/reference/html/spring-boot-features.html#boot-features-webflux-auto-configuration)

By this it not enables some webflux-configuration but disables **all** auto-configuration.

[Spring](https://

[2020-12-02 08:31] isfong opened #10299 "About the security-expression custom PermissionEvaluator Authentication authorities different than expected."
Hi~! I follow your blog post [《A Custom Security Expression with Spring Security》](https://www.baeldung.com/spring-security-create-new-custom-security-expression), implements custom PermissionEvaluator, I only reference dependency `spring-boot-starter-oauth2-resource-server`,  but in the hasPermission method `authentication.getAuthorities( )` they are not some privilege，they are like String `SCOPE

[2020-12-03 23:10] hamiltont opened #10305 "Mention HttpServletRequest.logout"
In the article "Manual Logout With Spring Security", you may want to mention the option ot manually call logout on the request, which is very useful in some circumstances (e.g. REST APIs that support revoking session authentication)

https://docs.spring.io/spring-security/site/docs/current/reference/html5/#servletapi-logout

[2020-12-05 03:12] bhimani07 opened #10307 "how to have only one websocket per browser session?"

[2020-12-06 01:16] #10307 closed

[2020-12-08 13:19] Bluexin opened #10309 "Dangerous use of "finalize" in some unit test examples"
Some of the unit tests examples have their test cleanup in a method called finalize, which IMO is bad practise :
https://github.com/eugenp/tutorials/blob/9572af280459b3f84f67ca74fd5d18274c5d1c20/testing-modules/junit-5-basics/src/test/java/com/baeldung/migration/junit5/BeforeEachAndAfterEachAnnotationsUnitTest.java#L30-L34
https://github.com/eugenp/tutorials/blob/65feb27817fa4986c434ec50349a3b3631

[2020-12-09 15:46] lor6 commented on #10274
Thanks for the feedback @PiotrJander. I've added an internal improvement to update the article.

[2020-12-09 15:46] #10274 closed

[2020-12-09 15:47] lor6 commented on #10290
Hi @MuditJ  Which project exactly are you running?
Thanks.

[2020-12-09 15:55] lor6 commented on #10296
Thanks for the feedback @blatobi
I've now updated this paragraph to:
"In addition, the implementation needs the @EnableWebFlux annotation to import the Spring WebFlux configuration in a plain Spring application. If we're using Spring Boot, then we only need this annotation if we want to override the auto-configuration"

[2020-12-09 16:03] lor6 commented on #10299
Hi @isfong Yes, if you're using OAuth, this is based on tokens which have one or more scopes. Then Spring Security transforms these into authorities of the form SCOPE_*. This is explained in the documentation here: https://docs.spring.io/spring-security/site/docs/current/reference/html5/#oauth2resourceserver-jwt-authorization

[2020-12-11 23:22] clockwiser opened #10313 "ClasspathXmlApplicationContextIntegrationTest no more work with spring 5.3.1"
ClassPathXmlApplicationContext's getBean method is changed drastically.

[2020-12-16 05:43] isfong commented on #10299
Thinks @lor6 ! they solved my troubles, `JwtAuthenticationConverter` and `JwtGrantedAuthoritiesConverter` very useful~

[2020-12-21 15:29] nakaldi opened #10328 "Wrong words in tutorial 'Spring Data MongoDB – Indexes, Annotations and Converters'"
Hello.

In the tutorial [https://www.baeldung.com/spring-data-mongodb-index-annotations-converter](https://www.baeldung.com/spring-data-mongodb-index-annotations-converter) says:

(code example for @Indexed)
...
As you can see, we have two indexes – one of them is _id – which was created by default due to the @Id annotation and the second one is our name field.

But [Spring Data MongoDB - Referenc

[2020-12-22 20:12] kwoyke commented on #10328
Hi @nakaldi,
Thanks for the feedback. Most probably the article hasn't been updated when we upgraded the spring-data-mongodb dependency,
We'll take a look into this and fix the article.

[2020-12-22 20:39] kwoyke commented on #10313
Hi @clockwiser ,
Thanks for the feedback. As for today our spring-core module is based on Spring 5.2.8.RELEASE.
We'll update the test when we'll be upgrading to Spring 5.3.x.

[2020-12-22 20:39] #10313 closed

[2020-12-23 08:17] CasperOm opened #10335 "Query Param ignore after implementing zuul rate limiter"
Hi, I have implemented rate limiter on zuul and rate limit is working well but it ignores the query params which i have passed to restful GET service which requires query params.

Could you please help me on this why this is causing this issue. Below is properties added in zuul application.yml

 ratelimit:
    enabled: true
    repository: JPA
    policy-list:
      testService:
        - limit: 1

[2020-12-23 08:24] kwoyke commented on #10335
Hi @CasperOm,

Which article does it relates to?
Do you face an issue with our implementation or rather your own?

[2020-12-23 08:27] CasperOm commented on #10335
Hi @kwoyke

I have implemented zuul rate limiter by taking reference of tutorials/spring-cloud/spring-cloud-zuul/spring-zuul-rate-limiting this project and implemented it.
also referred to this article : https://www.baeldung.com/spring-cloud-zuul-rate-limit

[2020-12-23 08:35] kwoyke commented on #10256
Hi @ahmed-adly-khalil ,

I assume what you're looking for is the way to trigger a job on demand. We do not provide such an example in the article.
Also, we'd like to keep the GitHub issues section focused only on the actual problems with our codebase.

Anyway, this kind of a question, you can ask on sites like StackOverflow. Please see this thread for example - https://stackoverflow.com/questions/

[2020-12-23 08:35] #10256 closed

[2020-12-23 08:42] kwoyke commented on #10335
@CasperOm, it's hard to say what might be wrong with your implementation without seeing the actual code.
Anyway, we'd like to keep the GitHub issues section focused only on the problems with our codebase.
You should probably ask this kind of a question on sites like StackOverflow and I'm pretty sure the community will be happy to help.
Cheers

[2020-12-23 08:42] #10335 closed

[2020-12-23 08:44] CasperOm commented on #10335
@kwoyke Thanks for your response. Surely will do it.

[2020-12-23 12:26] kwoyke commented on #10309
Hi @Bluexin ,
That's an interesting finding!
We've updated the code and the article.
Thanks for the feedback.
Cheers

[2020-12-23 12:26] #10309 closed

[2020-12-26 08:25] #10296 closed

[2020-12-26 08:28] lor6 commented on #10290
If this was referring to the spring-boot-crud project, this is now fixed by the linked PR. If not, please reopen the issue and clarify the project.

[2020-12-26 08:28] #10290 closed

[2020-12-26 08:28] #10299 closed

[2020-12-30 00:39] hendisantika opened #10366 "Errorn on Click Message on Spring Boot RTC"
Errorn on Click Message on Spring Boot RTC

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/3713580/103322757-007f4500-4a72-11eb-889a-2c7d9b6f57bf.png">

<img width="558" alt="image" src="https://user-images.githubusercontent.com/3713580/103322771-142aab80-4a72-11eb-8be4-d32659672a83.png">

Any advice?

Thank You

[2020-12-31 03:22] chtseac opened #10374 "Question about article about providing default values in JPA"
https://www.baeldung.com/jpa-default-column-values

Sorry I'm opening an issue here but the comment section is closed there.

The article points out two ways to get default values into columns, namely the "just set it in the java class" method and the "columnDefinition" method.

The article then discusses that the drawback of first way is how explicitly setting `null` is possible, and the drawback

[2021-01-02 10:42] Sam-Kruglov opened #10380 "Broken tutorial link"
https://github.com/eugenp/tutorials/tree/master/spring-web-modules/spring-rest-query-language was recently moved to a different folder but the link on the website is still old: https://www.baeldung.com/rest-api-query-search-or-operation

[2021-01-02 13:10] lor6 commented on #10380
Thanks @Sam-Kruglov  The link in the article is updated as well, but it's probably a caching issue; it may take a few hours to see the update.

[2021-01-02 13:10] #10380 closed

[2021-01-02 19:14] Marcono1234 opened #10382 ""Reader to InputStream" should recommend Commons IO's ReaderInputStream"
The article "[Java – Reader to InputStream](https://www.baeldung.com/java-convert-reader-to-inputstream)" should use and recommend Commons IO's [`ReaderInputStream`](https://commons.apache.org/proper/commons-io/apidocs/org/apache/commons/io/input/ReaderInputStream.html) since that is currently the most efficient solution available.

See also https://github.com/google/guava/issues/5376

[2021-01-05 12:44] noam-bionicstork opened #10390 "gRPC example does not compile"
the gRPC example fails to compile. fixed by adding this to the grpc/pom.xml file:
[code]

[2021-01-06 06:56] sourabhparsekar opened #10394 "graphql repository missing some files ?"
[graph-ql](https://github.com/eugenp/tutorials/tree/master/spring-boot-modules/spring-boot-libraries/src/main/java/com/baeldung/graphql)

It looks like spring boot starter files are missing when this got moved to graphql module.

[2021-01-06 07:07] nzomkxia opened #10395 "agent path in `com.baeldung.instrumentation.application.AgentLoader`"
in the java instrumentation example, there is "/home/adi/Desktop/agent-1.0.0-jar-with-dependencies.jar" in the `com.baeldung.instrumentation.application.AgentLoader`, how can I generate this jar file, thanks

[2021-01-07 14:35] lor6 commented on #10390
Hi @noam-bionicstork  I checked the project and it does compile with JDK 8. I'm guessing you tried with a higher version and had this issue.

The repo is not yet upgraded to a higher version, so I'll close the PR for now, and we'll attempt to recompile when we upgrade.

Thanks.

[2021-01-07 14:35] #10390 closed

[2021-01-07 14:36] lor6 commented on #10394
Hi @sourabhparsekar The main class was in the demo package. I've now moved it to the graphql package.

Is there any other missing file you noticed?

Thanks.

[2021-01-07 23:00] altayhunoglu opened #10404 "BinaryTree traverseInOrderWithoutRecursion"
I had different results using iterative and recursive ones for inorder.

My tree was like this:

[code]

I fixed the method like this:

[code]

[2021-01-08 05:55] sourabhparsekar commented on #10394
also this needs to be moved. graphql needs this file in resources

https://github.com/eugenp/tutorials/tree/master/spring-boot-modules/spring-boot-libraries/src/main/resources/graphql

[2021-01-08 16:36] tinynet opened #10406 "I'd like to run tests in a single modules, from Eclipse, and no time to understand modularity...help?"
I'd like to execute single tests classes in testing-modules/junit-5-basics (for example) from Eclipse...

I've imported the whole tutorial project as maven project (a bit overkill...)
I didn't manage to run tests from Eclipse, it seems it doesn't recognize a project for configuration.

I tried with mvn inside the module, it seems that it executes all tests in the module, but I can't execute a sing

[2021-01-10 15:47] lor6 commented on #10406
Hi @tinynet One option is to import only the project you want in the IDE, for example the junit-5-basics project, and then run tests there.

I tried running _mvn -Dtest=GreetingsUnitTest test_ inside the junit-5-basics module and the test ran ok.  What result are you getting?

[2021-01-10 15:50] lor6 commented on #10394
Moved where @sourabhparsekar ? This is in the resources folder of the project.
Thanks.

[2021-01-11 07:07] sourabhparsekar commented on #10394
looks good... :) Thank you so much...

[2021-01-11 07:07] #10394 closed

[2021-01-11 17:05] jbennett2091 opened #10415 "Need License information"
Can you add either a LICENSE.txt or <license> to the pom.xml?

A Black Duck software audit of our application flagged that we were using a snippet of code traced back to this tutorial.  We are getting dinged because the tutorial is "Not Licensed".  As a developer, I am somewhat suspicious of this train of logic.  But regardless, the simplest solution is for the project to declare a license.

[2021-01-12 00:31] tinynet commented on #10406
Ok, importing only one project made the trick.
I also manage to run from the command line, probably I wasn't in the correct folder.
thanks!

[2021-01-12 00:31] #10406 closed

[2021-01-13 17:08] jbennett2091 commented on #10415
disregard.  I missed that it is MIT licensed already.
https://github.com/eugenp/tutorials/blob/master/LICENSE

[2021-01-13 17:08] #10415 closed

[2021-01-14 16:20] Auto81 opened #10422 "testing-modules\parallel-tests-junit not running in parallel"
Have taken a clone of the repo, tests aren't running in parallel.

MVN version - 3.6.3
JDK version - 10

-----------

Have added a 4 second Thread.sleep() into each of the 6 math-test-functions tests, and get the following after an 'mvn test'

[code]

-------------

Have tried different combinations of surefire plugin versions and still get sequential test run times as above.

Any help very welcom

[2021-01-16 13:22] lor6 commented on #10374
Hi @chtseac  Sure, checking against null can be done using the constraint. But the drawback of the second method is in case you do want to allow the null value. That won't be possible anymore using the second method.

[2021-01-16 13:29] lor6 commented on #10395
Hi @nzomkxia You can generate the agent jar by following the instructions in the Instrumentation article: https://www.baeldung.com/java-instrumentation, or by simply building the project core-java-jvm, which already contains the code.

Of course, your resulting jar will have a different name and path than the example here, so you have to update that part in the AgentLoader class.

[2021-01-16 14:36] lor6 commented on #10366
Hi @hendisantika  I've added a fix for this here: https://github.com/eugenp/tutorials/pull/10426

Please update your local repository and try again.

Remember that you have to Create the Offer first, and then send the message.

[2021-01-16 15:03] hendisantika commented on #10366
OK. Let me check again.

[2021-01-16 15:10] hendisantika commented on #10366
Hi @lor6,

I already updated the code.

But the error still exist.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/3713580/104815516-a50dcf00-5847-11eb-969c-426b0895657a.png">

Any advice?

Thank You

[2021-01-17 09:42] lor6 commented on #10366
Hi @hendisantika Do you have 2 instances of the page open and have you clicked "Create offer" first to open the connection?

Thanks.

[2021-01-17 13:25] hendisantika commented on #10366
Yes, I have.

I think You can give me video or screen shot how to do your project so that I can follow your way.

[2021-01-17 13:31] #10366 closed

[2021-01-25 08:24] stanlygamer opened #10445 "how to remove an unwanted character in stringbuilder using utf-8 ?"
https://github.com/javaterminal/TerminalFX/issues/47

how can I solve this issue ?

[2021-01-25 21:15] camibaez opened #10449 "Map custom url to wsdl"
I created a SOAP endpoint with spring boot.
My endpoint url is localhost:8080/AuthorizationServices.wsdl.
How can I map it to AuthorizationServices?WSDL
?

[2021-01-26 14:11] ozayduman opened #10451 "Fix the Introduction to Vavr tutorial"
The article "[Introduction to Vavr](https://www.baeldung.com/vavr)" says that "in Java 8 we would need to use a Consumer type, in Vavr Function0", but Vavr Funtion0 corresponds to **Supplier**  according to the its [javadoc](https://javadoc.io/doc/io.vavr/vavr/latest/io/vavr/Function0.html).

[2021-01-29 08:30] kasautizindagikihd commented on #6762
<a href="https://kasautizindagikihd.net/">Molkki</a> Drama Serial All Episodes, Colors Tv Voot Drama Molkki Watch Online at Mx Player Latest Episodes, Molkki Apne Tv Desi Serial indian Drama HD ...

[2021-02-09 11:22] wh81752 opened #10472 "None of the CXF module works nor even compiles out of the box"
I had to add

[code]

to get going. Still, mvn exec:exec fails with

[code]

[2021-02-09 12:21] wh81752 commented on #10472
$ java -version
openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment GraalVM CE 20.2.0 (build 11.0.8+10-jvmci-20.2-b03)
OpenJDK 64-Bit Server VM GraalVM CE 20.2.0 (build 11.0.8+10-jvmci-20.2-b03, mixed mode, sharing)

[2021-02-09 12:56] wh81752 commented on #10472
It compiles well using
[code]
and it also starts well using `mvn exec:java`.

[2021-02-09 13:14] wh81752 opened #10473 "CXF Spring Example - Component fails to be injected"
Example https://www.baeldung.com/apache-cxf-with-spring appears to miss an important aspect of Spring. I've modifed class slightly:
[code]

When I compile and run it like `mvn -Plive clean install` I get this:
[code]

So, the example appears to focus on how I may configure a Servlet using some (useful?) Spring magic while the most important point, how to get IoC within CXF using Spring, is absent.

[2021-02-10 09:32] kwoyke commented on #10328
@nakaldi, we've updated the article. Cheers!

[2021-02-10 09:32] #10328 closed

[2021-02-14 05:01] gokcedilek opened #10487 "Could not extract response: no suitable HttpMessageConverter found for response type [java.util.List<com.baeldung.petstore.client.model.Pet>] and content type [text/html]"
I'm working with the [spring-swagger-codegen](https://github.com/eugenp/tutorials/tree/master/spring-swagger-codegen) project. I cloned it locally, and tried running the application `spring-swagger-codegen/spring-swagger-codegen-app/src/main/.../petstore/app/PetStoreApplication.java` in IntelliJ. The SpringBoot application starts fine, but when I visit `http://localhost:8080/pets`, which is the ro

[2021-02-17 09:25] cndreiter opened #10497 "Custom Error Message Handling: Take into account the status code of Spring-generated exceptions in fallback handler"
// 500

    @ExceptionHandler({ Exception.class })
    public ResponseEntity<Object> handleAll(final Exception ex, final WebRequest request) {
        logger.info(ex.getClass().getName());
        logger.error("error", ex);
        //
        final ApiError apiError = new ApiError(HttpStatus.INTERNAL_SERVER_ERROR, ex.getLocalizedMessage(), "error occurred");
        return new ResponseEntity<Objec

[2021-02-17 15:49] #10487 closed

[2021-02-18 21:42] h4cker39 opened #10501 "Error building jjwts"
I am trying to build your project with the following tutorial

baeldung.com/java-json-web-tokens-jjwt
git clone https://github.com/eugenp/tutorials.git
cd tutorials/jjwt
mvn clean install

But every time I run this it gives me back...

no main manifest attribute, in target/jjwt-0.0.1-SNAPSHOT.jar

[2021-02-19 11:11] kovacs-zs opened #10503 "CircularBuffer.java bugfix"
Hi,

A fix for the constructor in CircularBuffer.java:
instead of

this.capacity = (capacity < 1) ? DEFAULT_CAPACITY : capacity;
this.data = (E[]) new Object[capacity];

should be

this.capacity = (capacity < 1) ? DEFAULT_CAPACITY : capacity;
this.data = (E[]) new Object[**this**.capacity];

Regards

[2021-02-24 14:05] dongshen opened #10517 "where is the code for java-list-primitive-performance"
where could find the related code for https://www.baeldung.com/java-list-primitive-performance
and the code should get exception for java.lang.ArrayIndexOutOfBoundsException: Array index out of range for 10
@Benchmark
public int getArrayList() {
    return arrayList.get(getValue);
}

[2021-02-27 16:36] jferard opened #10523 "Removing all duplicates from a List in Java"
Disclaimer : this may have been discussed in the comments of the article ["Removing all duplicates from a List in Java"](https://www.baeldung.com/java-remove-duplicates-from-list), but I can't make these comments visible in my browser.

In the article "Removing all duplicates from a List in Java", both plain Java and Guava versions may affect the order of the elements because of the `HashSet` (I b

[2021-03-01 10:51] uklance opened #10530 "Spring boot admin redirects to /login when clicking on an application"
spring-boot-admin-starter-server version 2.4.0 is broken when adding the login page and security to SBA. The app will redirect to the /login page when you try to click on any of the apps (eg from the wallboard or from the applications list)

See spring-boot-admin issue 1640 - issue https://github.com/codecentric/spring-boot-admin/issues/1640

Downgrading to version 2.3.1 fixes the issue
[code]

[2021-03-04 08:58] #10374 closed

[2021-03-04 09:02] #10395 closed

[2021-03-04 09:22] kwoyke commented on #10517
Hi @dongshen ,

The code is located here https://github.com/eugenp/tutorials/tree/master/core-java-modules/core-java-collections-list-3/src/main/java/com/baeldung/list/primitive

And yes, it looks like the benchmark is throwing ArrayIndexOutOfBoundsException. We'll fix the code and update the article.

[2021-03-09 14:19] rafis opened #10543 "Much easier usage of testcontainers"
Hi,
https://www.baeldung.com/spring-boot-testcontainers-integration-test

There is much easier usage of testcontainers if you don't need fine grained control over Postgres container, just add following lines into _src/test/resources/application.properties_:
[code]

[2021-03-11 10:28] kwoyke commented on #10543
Hi @rafis ,
Thanks for the feedback. We'll take a look into this and update the article.

[2021-03-12 07:45] kwoyke commented on #10451
Hi @ozayduman,
That's a good catch - thanks! We updated the article.

[2021-03-12 07:45] #10451 closed

[2021-03-12 07:46] kwoyke commented on #10503
Hi @kovacs-zs,
That's a really nice catch! Thanks. We updated the code and the article.

[2021-03-12 07:46] #10503 closed

[2021-03-12 07:48] kwoyke commented on #10449
Hi @camibaez,
What article does your question relate to?

[2021-03-19 11:04] kwoyke commented on #10404
Hi @altayhunoglu,
Thanks for the feedback. Can you please point the article this refers to?

[2021-03-19 11:06] kwoyke commented on #10517
We fixed the code and update the article accordingly.

[2021-03-19 11:06] #10517 closed

[2021-03-19 22:19] altayhunoglu commented on #10404
Hi,

This is the article:
https://www.baeldung.com/java-binary-tree

[2021-03-23 12:26] kwoyke commented on #10404
Thanks @altayhunoglu , we'll take a look into this and get back to you.

[2021-03-23 20:01] nks-techsolutions opened #10581 "Cyclic dependency issues"
In Notifier config, FilteringNotifier is giving exception of circular dependency.
Any suggestions ?

[2021-03-25 08:16] kwoyke commented on #10404
We've updated the code. Thanks for catching that @altayhunoglu.

[2021-03-25 08:16] #10404 closed

[2021-03-25 10:29] oribaldi opened #10591 "Question: How to invoke a SOAP web service in Spring with Async?"
I am not sure if this is the right place to ask for this kind of questions, so I apologise if it is not the place.

# Context
I was following your tutorial about [How to Invoke a SOAP web service in Spring](https://www.baeldung.com/spring-soap-web-service), and I was trying to extending it for Async, in order to not have to wait for the response of the SOAP server.

# Problem
I enabled Async from

[2021-03-25 12:27] letanloc1998 opened #10592 "[Spring cloud gateway] Change routes when runtime"
Hi

Does spring cloud gateway support change routes when runtime but don't use discovery or actuator?

Thank you a lot

[2021-04-02 22:26] Blakes-Mike opened #10625 "Decrypted strings return strange characters"
In my use case i'm encrypting unique Ids and storing them on a MYSQL database, encryption and decryption work initially , but as soon as i restart the application and attempt to decrypt  stored keys then i get bad values like these: Q�5�ع��N�n��͡b6e39b59e090fdd4
YԢ����w\"q�)-b287f7766b71ca22 etc.

[2021-04-03 07:37] rafis opened #10626 "MIME Type detection"
Please can you explicitly describe for each method:
https://www.baeldung.com/java-file-mime-type

Is it either:
1) file extension based detection
2) magic bytes based detection

Just listing various methods doesn't does not carry much value.

[2021-04-09 07:39] logi92 opened #10640 "Could not find artifact org.baeldung.pmd:custom-pmd:jar:0.0.1 in central (https://repo.maven.apache.org/maven2)"
I downloaded this repo and maven give me some problems
Cannot resolve plugin org.apache.maven.plugins:maven-pmd-plugin:3.13.0
Could not find artifact org.baeldung.pmd:custom-pmd:jar:0.0.1 in central (https://repo.maven.apache.org/maven2)
Could not find artifact org.baeldung.pmd:custom-pmd:pom:0.0.1 in central (https://repo.maven.apache.org/maven2)

[2021-04-13 17:36] nomuna commented on #10523
I think the fact he is using HashSet to filter out the duplicates indicates that he doesn't care about the order. If he cared he would have gone to the trouble of using may be a LinkedHashSet which preserves the order of items added dropping duplicates as well.

[2021-04-14 07:01] jferard commented on #10523
I agree that this is probably a choice. The issue, in my mind, is that this choice was implicit while it should have been documented.

[2021-04-14 17:14] rafis opened #10662 "RestTemplate using Operations interfaces"
Hi!

https://www.baeldung.com/spring-interface-driven-controllers
https://github.com/eugenp/tutorials/tree/master/spring-web-modules/spring-5-mvc

You show only half. You show only how to use Operations interfaces in Server-side, so I can create "*-api" Maven/Gradle-module (as library) and use it in "*-service" Maven/Gradle-module (as microservice). But how to use it in Client-side (in RestTemplat

[2021-04-14 22:40] nomuna commented on #10523
HashSet is an implementation of the Set interface. Set in itself mathematically doesn't impose any order on its members. So I would say it is not necessary to write again as documentation or comment. It would be redundant in my opinion.

If you read the javadoc of HashSet it says that it makes no guarantee as to the order of iteration of the set.

[2021-04-15 09:07] jferard commented on #10523
I think there are two different levels: specification and implementation. It is not specified that the order does not matter. Using a `HashSet` (implementation) does make the intent (specification) clear because we don't know if it's a bug or a feature.

Here's a caricature that's makes the issue clearer.

Imagine this implementation:

    List<Integer> listWithoutDuplicates = new ArrayList<>();

[2021-04-15 13:23] kwoyke commented on #10501
Hi @h4cker39,

Yeah these instructions seems not to be working as expected. We'll update the article!

Meanwhile, JJWTFunApplication is a simple Spring Boot app. This means you can either run it directly from the IDE of your choice or simply use the Spring Boot Maven plugin - just run mvn clean spring-boot:run inside the jjwt directory.

Hope that helps.

[2021-04-15 20:21] nomuna commented on #10523
Well what the test does or what he wanted to achieve is written as a test method name and he used a data structure that removes duplicates... I don't need any more information to understand what is going on. I don't really understand why this is such a bis issue for you. Code that documents itself is better than some lengthy comment or whatever that need to be kept up to date with the implementati

[2021-04-16 07:59] kwoyke commented on #10625
Hi @Blakes-Mike ,

What article are you referring to?

[2021-04-16 08:11] kwoyke commented on #10640
Hi @logi92 ,

The easiest way to explore the code for a particular module is to clone the whole repo and then import only that module into your IDE.
Hope that helps.

Cheers

[2021-04-16 08:11] #10640 closed

[2021-04-16 15:55] jferard commented on #10523
A last try to convince you:

The various tests checks only the size of the set. I can think of a lot of functions that pass these tests. That means that the test itself is a pretty loose specification. If I look at the name of the test, I have more information but I still don't know if the order of elements be preserved or not.

It's not about you (or me). "This article is part of the “Java – Back

[2021-04-16 21:26] nomuna commented on #10523
Satisfying everyone is an impossible task...
But in all the tests in the class he doesn't care about the order of the items in the collection. If he wanted to write a test for that case he would have done it. Why don't you extend the class write such a test and push it as a pull request.

Something like this.

[code]

[2021-04-16 22:38] ajalbani1 opened #10671 "cas server not picking the service registry, <Loaded [0] service(s) from [InMemoryServiceRegistry] CAS Version: 6.4.0-SNAPSHOT"
Hello. My cas server which I deployed with the cas-overlay-template is not picking my json service.

[2021-04-18 08:46] jferard commented on #10523
Unfortunately, this does not address the issue that the **article** is somehow misleading, or at least lacks of precision.

And you are again focusing on implementation. If I don't rely on `HashSet` to keep the insertion order of elements, it's not because it is implemented with a hash table (think of it: `LinkedHashSet` uses also a hash table), it is because of the *contract*:

If I knew that the

[2021-04-19 04:24] nomuna commented on #10523
I don't think so but which parts are misleading for you exactly? Please be specific. There are three points and in NONE of them he mentions that he wants to keep the order of the elements in List.

1. Remove Duplicates From a List Using Plain Java
2. Remove Duplicates From a List Using Guava
3. Remove Duplicates From a List Using Java 8 Lambdas

The contract is set with the interface. Interface be

[2021-04-19 13:02] jferard commented on #10523
I think that's the core of our discussion: you assume that I have a problem (I don't know the basic data structures, I can't read the implementation of `HashSet`, I'm mixing up data structures...) and you want to help me (thank you). But I still think the article has a problem, not me.

That's the issue. There is no way to know if the goal was:

- to remove duplicates and keep the order: in this c

[2021-04-19 13:21] kwoyke commented on #10523
@jferard @nomuna thanks for your input :)
We'll update the article so that it's clear for everybody.
Thanks for the feedback!

[2021-04-19 13:28] kwoyke commented on #10671
Hi @ajalbani1 ,
What article are you referring to? Do you face an issue with our implementation or with your custom app?

[2021-04-19 16:53] ajalbani1 commented on #10671
appologies. I think I put it in the wrong repo. I am using https://github.com/apereo/cas-overlay-template.
Any ideas where to register json services?

[2021-04-19 19:03] kwoyke commented on #10671
@ajalbani1 Unfortunately, we can only help with questions that are specifically and directly related to our articles - not with your own, custom application.

StackOverflow is a great place to ask more general questions.

[2021-04-19 19:03] #10671 closed

[2021-04-19 19:07] kwoyke commented on #10449
@camibaez we can only help with questions that are specifically and directly related to our articles - not with your own, custom application.

StackOverflow is a great place to ask more general questions.

[2021-04-19 19:07] #10449 closed

[2021-04-20 18:26] h4cker39 commented on #10501
Sure thing

[2021-04-21 14:57] jferard commented on #10523
@kwoyke Thank you.
@nomuna Thanks for trying to help.

[2021-04-23 05:10] struski opened #10689 "Incorrect listing in the article"
https://www.baeldung.com/java-custom-annotation

Last listing in the aforementioned article is incorrect. Class name and method name does not match corresponding test in Github code:

https://raw.githubusercontent.com/eugenp/tutorials/master/core-java-modules/core-java-annotations/src/test/java/com/baeldung/customannotations/JsonSerializerUnitTest.java

[2021-04-23 07:18] karand1985 opened #10690 "Not able to generate statistics in 3.6.10 Final release"
Hi,
We are trying to generate_statistics in hibernate 3.6.10 Final jar version. but are not able to generate the same.
switching to older hibernate version 3.6.2 version the statistics are generated.
Do we require to do something different to generate statistics in 3.6.10 ?

Note: we have updated the property generate_statistics = true in persistence-config.xml
 Env
 Tomcat 8.5.x
 Hibernate 3.6.10

[2021-04-23 10:12] kwoyke commented on #10690
Hi @karand1985,
Which article are you referring to?

[2021-04-23 10:17] karand1985 commented on #10690
We are encountering this problem of statistics not getting generated in our dev environment.
On researching more on google we found this article
https://github.com/eugenp/tutorials/tree/master/persistence-modules/spring-hibernate-3

In this also hibernate 3.6.10 is used. so i raised the query if any thing is changed in this version to generate the hibernate statistics since, the hibernate version

[2021-04-23 12:03] MrKuip opened #10691 "Remark for: How to Convert List to Map in Java"
In the article 'How to Convert List to Map in Java' (https://www.baeldung.com/java-list-to-map)  there is the following code:

[code]
I think this is a bit neater:
[code]

[2021-04-26 08:31] kwoyke commented on #10690
Unfortunately, we can only help with questions that are specifically and directly related to the article - not with your own, custom application.

Please check the Hibernate change log and/or ask the Hibernate community. Also, StackOverflow is a great place to ask this kind of questions.

[2021-04-26 08:31] #10690 closed

[2021-04-26 08:51] kwoyke commented on #10689
Hi @struski ,
Thanks for catching that. We'll fix it and let you know.

[2021-04-26 10:21] N1kbaz opened #10700 "tutorials/spring-cucumber: "mvn clean test" doesn't run cucumber tests"
When I run command 'mvn clean test' from directory '/tutorials/spring-cucumber' then only test from file 'SpringContextTest' runs.
Expected: cucumber tests are run too.

P.S. 'mvn clean install -Pintegration' throws warning "The requested profile "integration" could not be activated because it does not exist"